/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/* app css begins here*/

.app-container{
    background: url('../img/bg_main.png') repeat;
}

.content-row{
    padding-top: 60px;
}

button:focus{
    outline: 0;
    border-radius: 5px;
}

/* app css ends here */

/*login page css begins here*/

#login-container{
    background: #BEE2E7;
    height: 100vh;
    width: 100vw;
}
#login-form-div{
    width: 50%;
    height: 100%;
    margin:0 auto;
    padding-top: 10%;
}
#login-container-logo{
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 2%;
    content: url(../img/ClearVision_logo.png);
    clear: both;
}
.login-form {
    margin-left: 20%;
    margin-right: 20%;
    background: #eeeeee;
    border-radius:5px;
}
.btn.btn-primary.btn-lg.btn-block {
    background: #1859A8;
    border-color:#1859A8;
    font-weight: 500pt;
    font-family: 'Lato', sans-serif;
    margin-top: 3em;
    margin-bottom: auto;
}
.login-form .checkbox {
    margin-bottom: 14px;
}
.login-form .checkbox {
    font-weight: normal;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.login-wrap {
    padding: 20px;
}
.login-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form .form-control:focus {
    z-index: 2;
}
.login-form .login-img{
    font-size: 50px;
    font-weight: 300;
}
.login-form .input-group{
    padding-bottom: 15px;
}
.login-form .input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
.login-form input[type="text"], .login-form input[type="password"] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}
.login-form .btn{
    border-radius: 3px;
}
.btn.btn-primary.btn-lg.btn-block:hover {
    background-color: transparent;
    color:#1859A8;
}
.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.login-form {
    padding: 20px;
}
/*login page css ends here*/

/*navbar csss*/

.navbar.navbar-default.navbar-fixed-top{   /*to be changed*/
    background: #BEE2E7 ;
    border-bottom: dotted 2px #777777;
}

#navbar-logo{
    content: url('../img/app-header-logo.png');
}

/*navbar css ends*/

/*calendar csss*/

#top-content-btngrp{
    text-align: right;
}
#top-content-calview{
    text-align: right;
}
#top-content-search{
    text-align: left;
}

ul.legend-ul{
    text-align: center;
    margin-bottom: 2px;
    margin-top: 7px;
}
ul.legend-ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.fc-view-container{
    height: 64vh; !important;
    width: 100% !important;
    overflow-y: auto;
}

.left-content{
    float: left;
    display: inline-block;
}

.left-content-resize{
    float: left;
    display: inline-block;
}

.cal-view-btn{
    width: 5vw;
    border: 1px solid #FFFFFF;
    background: #4aaaa4;
    color: #FFFFFF;
}
.cal-view-btn:hover{
    border: 1.5px solid #7accc8;
    background: #4aaaa4;
    color: #FFFFFF;
}
.cal-view-btn:active{
    background: #4aaaa4;
    outline: 0;
}
.cal-view-btn:focus{
    background-color: #4aaaa4;
    border: 2px solid #7accc8;
    outline: 0;
}

.appt-form-btn{
    border: 1px solid #FFFFFF;
    background: #1859ab;
    border-radius: 5px;
}

.legend-screen{
    color: #f98a5f;
}

.legend-preEval{
    color: #aa2159;
}
.legend-lasik{
    color: #74aaf7;
}


/*calendar css ends*/

/*form page csss*/

.form-title{
    font-weight: bold;
    color: #1859ab;
}

.add-appt-formgrp{
    margin-bottom: 3px;
}

.right-content{
    display: none;
}

.right-content-show{
    display: inline-block;
    float: left;
}
/*form page css ends*/

/* dashboard css*/
.side-menu-col{
    border: 2px solid #1859ab;

}

.side-menu-row1{
    border-bottom: 2px solid #1859ab;
    position: relative;
    margin-top: 5px;
}

.side-menu-row2{
    border-bottom: 2px solid #1859ab;
    position: relative;
    margin-top: 5px;
}
.side-menu-row3{
    position: relative;
    margin-top: 15px;
}

.side-menu-col1{
    margin: 0 auto;
}
/* dashboard css ends*/


