/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/* app css begins here*/

.app-container{
    background: url('../img/bg_main.png') repeat;
    /*background: #FFFEE4;*/
}

.content-row{
    padding-top: 60px;
    height: 100vh;
}

.dropdown-default-option{
    text-align: center;
}

.dashboard-content-row{
    padding-top: 10%;
    height: 100vh;
}

.subcontent-row{
    padding-top: 8px;
}

.label-color{
    color: #49708A;
}


.heading-rotate{
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.cal-main-contain{
    padding-left: 0;
}
.side-tab-doc{
    padding-right: 0;
    padding-left: 0;
    width: 60px;
    height: 60px;

}
.side-tabset > ul.nav.nav-pills{
    width: 145px;
    height: 35px;
    padding-right: 83px;
    margin-right: 0;
}
.cal-tab-clinic{
    padding-left: 0;
    padding-right: 0;
}

.side-tabset > ul.nav >li{
    margin-right: 0;
    padding-bottom: 30px;
    padding-right: 0;
}

.side-tabset > ul.nav >li > a{
    padding: 5px 5px 5px 5px;
}

.side-tabset > ul.nav >li > a:focus,
.side-tabset > ul.nav >li.active > a:hover
{
    padding: 5px 5px 5px 5px;
    background-color: #49708A;
    color: #fff;
}

.side-tabset > ul.nav >li > a:hover{
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    color: #49708A;
}
/* app css ends here */

/*login page css begins here*/

#login-container{
    background: #D0E0EB;
    height: 100vh;
    width: 100vw;
}
#login-form-div{
    width: 50%;
    height: 100%;
    margin:0 auto;
    padding-top: 10%;
}
#login-container-logo{
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 2%;
    content: url(../img/ClearVision_logo.png);
    clear: both;
}
.login-form {
    margin-left: 20%;
    margin-right: 20%;
    background: #eeeeee;
    border-radius:5px;
}
.btn.btn-primary.btn-lg.btn-block {
    background: #1859A8;
    border-color:#1859A8;
    font-weight: 500pt;
    font-family: 'Lato', sans-serif;
    margin-top: 3em;
    margin-bottom: auto;
}
.login-form .checkbox {
    margin-bottom: 14px;
}
.login-form .checkbox {
    font-weight: normal;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.login-wrap {
    padding: 20px;
}
.login-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form .form-control:focus {
    z-index: 2;
}
.login-form .login-img{
    font-size: 50px;
    font-weight: 300;
}
.login-form .input-group{
    padding-bottom: 15px;
}
.login-form .input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
.login-form input[type="text"], .login-form input[type="password"] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}
.login-form .btn{
    border-radius: 3px;
}
.btn.btn-primary.btn-lg.btn-block:hover {
    background-color: transparent;
    color:#1859A8;
}
.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.login-form {
    padding: 20px;
}
/*login page css ends here*/

/*navbar csss*/

.navbar.navbar-default.navbar-fixed-top{   /*to be changed*/
    background: #D0E0EB;
    border-bottom: solid 1px #70AFC4;
}
.nav.navbar-nav.navbar-right > li > a{
    color: #70AFC4;
}

#navbar-logo{
    content: url('../img/app-header-logo.png');
}

.notification-badge-red{
    background-color: #E79285;
}
.notification-badge-grey{
    background-color: #70AFC4;
}

.dropdown-menu > li:active,
.dropdown-menu > li:focus{
    background-color: transparent;
}
.dropdown-menu > li > a.msg-viewall-link{
    text-decoration: underline;
    text-align: center;
    color: #49708A;
    font-weight: 400;
}

.dashboard-submenu{
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:center;
    padding:9px 5px 10px 5px;
    border:1px dotted #70AFC4;
    border-top:none;
    /*width: 1241px;*/
    width:100vw;
    /* Gradient background */
    background:#70AFC4;
    background: -moz-linear-gradient(top, #D0E0EB, #70AFC4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0E0EB), to(#70AFC4));
}
/*#topmenu li:hover .dashboard-submenu
{
    left:-358px;
    top:70%;
}*/

#topmenu li.selected .dashboard-submenu{
    left:-358px;
    top:70%;
}

/*#topmenu li.selected {
    background-color: transparent;
    text-decoration: underline;
}*/

.dashboard-submenu li{
    padding-left: 3%;
    padding-right: 3%;
}

.dashboard-submenu li.active{
    padding-left: 3%;
    padding-right: 3%;
    background-color: #e7e7e7;
    text-decoration: none;
}

.dashboard-submenu li a:hover,
.dashboard-submenu li a:focus,
.dashboard-submenu li.active a,
.dashboard-submenu li.active a:hover,
.dashboard-submenu li.active a:focus{
    text-decoration: none;
    color:#70AFC4;
    background-color: #e7e7e7;
}


/*navbar css ends*/

/*calendar csss*/
.reset-icon{
    content: url('../img/reset_icon.png');
    width: 22px;
    height: 22px;
}

#top-content-btngrp{
    text-align: right;
    padding-right: 0;
}
#top-content-calview{
    text-align: right;
}
.top-content-search{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

ul.legend-ul{
    text-align: center;
    margin-bottom: 7px;
    margin-top: 7px;
}
ul.legend-ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.fc-view-container{
    height: 68vh; !important;
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.left-content{
    float: left;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -webkit-transition: width 3s;
    transition: width 0.6s;
}

.left-content-resize{
    float: left;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: width 3s;
    transition: width 0.6s;
    -webkit-transition-delay: 0s;
}

.cal-view-btn{
    border: 1px solid #FFFFFF;
    background: #49708A;
    color: #FFFFFF;
    font-size: 90%;
}
.cal-view-btn:hover,
.cal-view-btn:active,
.cal-view-btn:focus
{
    /*border: 1.5px solid #7accc8;*/
    background: #70AFC4;
    color: #FFFFFF;
    outline: 0;
}

.appt-form-btn{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.form-btn{
    background: #70AFC4;
    border: 1px solid #FFFFFF;
}

.form-btn:hover,
.form-btn:active,
.form-btn:focus
{
    /*border: 1.5px solid #7accc8;*/
    background: #49708A;
    color: #FFFFFF;
    outline: 0;
}

.legend-screen{
    color: #E7AB3E;
    text-decoration: none;
    border-bottom: none;
}

.legend-screen:focus,
.legend-screen:active
.legend-screen:hover
{
    color: #E7AB3E;
    text-decoration: none;
    border-bottom: none;
}

.legend-preEval{
    color: #FFA480;
    text-decoration: none;
    border-bottom: none;

}
.legend-preEval:active,
.legend-preEval:focus,
.legend-preEval:hover
{
    color: #FFA480;
    text-decoration: none;
    border-bottom: none;

}

.legend-surgery{
    color: #EA525F;
    text-decoration: none;
    border-bottom: none;
}

.legend-surgery:active,
.legend-surgery:focus,
.legend-surgery:hover
{
    color: #EA525F;
    text-decoration: none;
    border-bottom: none;
}

.legend-all{
    color: #49708A;
    text-decoration: none;
}

.legend-all:active,
.legend-all:focus,
.legend-all:hover
{
    color: #49708A;
    text-decoration: none;
}

.cal-legend{
    background: #D0E0EB;
    border: dotted 1px #777777;
    border-radius: 4px;
    margin-top: 2px;
}

.legend-screen-clicked{
    color: #E7AB3E;
    text-decoration: none;
    border-bottom: solid 2px #E7AB3E;
}

.legend-screen-clicked:active,
.legend-screen-clicked:focus,
.legend-screen-clicked:hover
{
    color: #E7AB3E;
    text-decoration: none;
    border-bottom: solid 2px #E7AB3E;
}


.legend-preEval-clicked{
    color: #FFA480;
    text-decoration: none;
    border-bottom: solid 2px #FFA480;
}

.legend-preEval-clicked:active,
.legend-preEval-clicked:focus,
.legend-preEval-clicked:hover
{
    color: #FFA480;
    text-decoration: none;
    border-bottom: solid 2px #FFA480;
}

.legend-surgery-clicked{
    color: #EA525F;
    text-decoration: none;
    border-bottom: solid 2px #EA525F;
}

.legend-surgery-clicked:active,
.legend-surgery-clicked:focus,
.legend-surgery-clicked:hover
{
    color: #EA525F;
    text-decoration: none;
    border-bottom: solid 2px #EA525F;
}

form.form-search {
    position: relative;
}


form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

input[type=text].date-input-field:disabled {
    background: #fff;
}
/*calendar css ends*/

/*form page csss*/

.form-title{
    font-weight: bold;
    color: #70AFC4;
}

.add-appt-formgrp{
    margin-bottom: 0;
    margin-top: 6px;
}

.right-content{
    /*display: none;*/
    display: inline-block;
    float: left;
}

.form-content-row{
    overflow-y: auto;
    height: 84vh;
}

#i-slots-date li{
    list-style: none;
}


li .i-slot-label {
    cursor: pointer;
}


.ischeduleForm{
    margin-bottom: 0;
}

.form-submit-btn,
.form-submit-btn:hover,
.form-submit-btn:focus
{
    background-color: #70AFC4;
    border: #70AFC4;
    color: #FFFFFF;
}

.form-cancel-btn,
.form-cancel-btn:hover,
.form-cancel-btn:focus
{
    background-color: #E79285;
    border: #E79285;
    color: #FFFFFF;
}

.form-default-btn,
.form-default-btn:hover,
.form-default-btn:focus
{
    background-color: #49708A;
    border: #49708A;
    color: #FFFFFF;
}

/*form page css ends*/

/* dashboard css*/
.side-menu-col{
    border: 2px solid #1859ab;
    float: left;
    margin-bottom: 6px;
    display: inline-block;
}
.mth-dropdown-col{
    padding-left: 0;
    padding-right: 0;
}

.side-menu-row1{
    /*border-bottom: 2px solid #1859ab;*/
    position: relative;
    margin-top: 35px;
    height: 156px;
}

.side-menu-row2{
    /*border-bottom: 2px solid #1859ab;*/
    position: relative;
    margin-top: 35px;
    height: 156px;
}
.side-menu-row3{
    position: relative;
    margin-top: 35px;
    height: 156px;
    text-align: left;
}

.filter-row-hide{
    background-color: #FFFFFF;
    padding-top:0;
    border: 1px dotted #1859ab;
    border-radius: 4px;
    margin-right: 0.5%;

}
.filter-row-title{
    background-color: #49708A;
    margin-bottom: 10px;
}
.filter-row-close{
    text-align: right;
    cursor: pointer;
}

.filter-row-options{
    background: rgba(255,255,255,0.2);
}

.chart-title-row{
    background-color: #e0e0e0;
    border: solid 1px #49708A;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 0.5%
}

.chart-content-row{
    border: solid 1px #49708A;
    padding-left: 8%;
    padding-top: 2.5%;
    margin-right: 0.5%;
}

.graph-function-col{
    padding-top: 6px;
    padding-right: 0;
    padding-left: 0;
    width: 2.7%;
}

.saved-filter-list{
    height: 50%;
    overflow-y: auto;
    background: #D0E0EB;
    border-radius: 8px;
    text-align:center;
}

.roi-marketing-listbox{
    border: solid 1px #70AFC4;
    border-radius: 4px;
    height: 90px;
    overflow-y: scroll;
}

.mrkt-list-item input[type=checkbox]{
    position: absolute;
    display: none;
}

.mrkt-list-item label{
    font-weight: 300;
}
.channelSelected{
    background: #D0E0EB;
    color: #49708A;
}

.typeSelected{
    background: #D0E0EB;
    color: #49708A;
}

.dashboard-listing-lbl{
    padding-left: 0;
    font-weight: 400;
    text-decoration: underline;
}

.exporticon{
    content: url('../img/icon-export.png');
    width: 19px;
    height: 18px;
}

.charts-row1{
    padding-left: 10px;
}

.saved-filter-items{
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.pie-chart-btn.clicked{
    background: #E7AB3E;
    color: #FFF;
    outline: 0;
}

.pie-chart-btn{
    background: #70AFC4;
    color: #fff;
}

.pie-chart-btn:hover,
.pie-chart-btn:focus,
.pie-chart-btn:active{
    background: #E7AB3E;
    color:#FFF;
    outline: 0;
}

.switch-chart-btn.clicked{
    background: #E7AB3E;
    color: #FFF;
    outline: 0;
}

.switch-chart-btn{
    background: #70AFC4;
    color: #fff;
}

.switch-chart-btn:hover,
.switch-chart-btn:focus,
.switch-chart-btn:active{
    background: #E7AB3E;
    color:#FFF;
    outline: 0;
}

.mrkt-month-item.active{
    text-decoration:underline;
    font-weight: bold;
}

/* dashboard css ends*/


/* waitlist css*/

table.waitlist-main-tbl{
    margin-top: 10px;
    background-color: #ebebeb;
    border: dotted 2px #70AFC4;

}

table.waitlist-main-tbl > tbody > tr > th{
    background-color: #D0E0EB;
    color: #49708A;
    text-align: center;
}
table.waitlist-main-tbl > tbody > tr > td{
    text-align: center;
}

table.waitlist-action-tbl{
    margin-top: 6%;
    text-align: center;
}

table.waitlist-action-tbl > tbody > tr > th{
    color: #49708A;
    text-align: center;
    border: none;
}
table.waitlist-action-tbl > tbody > tr > td{
    padding-top:2px;
    padding-bottom: 2px;
    border: none;
}

table.waitlist-swap-tbl{
    margin-top: 10px;
    background-color: #ebebeb;
    border: dotted 2px #70AFC4;
}

table.waitlist-swap-tbl > tbody > tr > th{
    background-color: #D0E0EB;
    color: #49708A;
    text-align: center;
}
table.waitlist-swap-tbl > tbody > tr > td{
    text-align: left;
}

.cannotSwap{
    color: #5e5e5e;
}
.canSwap{
    color: #4ea64e;
}

.fieldIsChanged{
    color: #CC0000;
}
/* waitlist css ends*/

/* queue page css*/

.queue-tab.tab-content > .active {
  display: block;
  padding-left: 0;
}

.queuelist-col{
    margin-top: 3.2%;
}

.monthfilter-col{
    margin-top: 7%;
}

.remove-from-queue{
    cursor: pointer;
    color: #BCBCBC;
}

.edit-no-show{
    cursor: pointer;
    color: #49708A;
    font-weight: bold;
}

.reschedule-no-show{
    cursor: pointer;
    color: #70AFC4;
}

.archive-no-show{
    cursor: pointer;
    color: #E79285;
}

table.queuelist-main-tbl{
    margin-top: 10px;
    background-color: #ebebeb;

}

table.queuelist-main-tbl > tbody > tr > th{
    background-color: #70AFC4;
    color: #FFF;
    text-align: center;
}
table.queuelist-main-tbl > tbody > tr > td {
    text-align: center;
}

table.apptlist-main-tbl{
    border: dotted 2px #70AFC4;

}

table.apptlist-main-tbl > tbody > tr > th{
    background-color: #D0E0EB;
    color: #49708A;
    text-align: center;
}
table.apptlist-main-tbl > tbody > tr > td{
    text-align: center;
}


.ver-divider{
    margin-right: 3px;
    margin-left: 7px;
    border-left: solid 1px #49708A;
}

.tag-label{
    background-color: #70AFC4;
}

/* queue page css ends*/

/* msglog page css */

.mailbox-folders{
    list-style: none;
    padding-left: 10px;
}

.mailbox-row{
    margin-top: 15px;
    padding-left: 10px;
}

a.mailbox-folder{
    cursor: pointer;
    color: #70AFC4;
    padding-left: 10px;
}

a.mailbox-folder:hover,
a.mailbox-folder:active{
    text-decoration: none;
    border-left: solid 3.5px #E79285;
}

.checkbox{
    margin: 0;
}

.favmail-action[type=checkbox] {
    display:none;
}

.mail-unstarred{
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #E79285;
}

.mail-starred,
.mail-unstarred:hover{
    cursor: pointer;
    color: #E79285;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #E79285;
}

table.mailbox-tbl > tbody > tr > td{
    text-align: center;
}

table.mailbox-tbl > tbody > tr:hover{
    cursor: pointer;
    background-color: #D0E0EB;
}


.mailbox-nav-btn,
.mailbox-nav-btn:hover,
.mailbox-nav-btn:focus
{
    background-color: #49708A;
    border: #49708A;
    color: #FFFFFF;
}

/* msglog page css ends */

/* blocker form css starts */
.right-content-block{
    /*display: none;*/
    display: inline-block;
    float: left;
}

.hide-blockform-label input[type=checkbox]{
    position: absolute;
    display: none;
}
.hide-blockform-label{
    text-decoration: underline;
    cursor: pointer;
}
/* blocker form css ends */

/* expenditure form css */

.expenditure-table-row{
    border: solid 1px #49708A;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 0.5%
}

.total-spent-label{
    background-color: #49708A;
}

.label-highlight-color{
    color: #E79285;
    text-decoration: underline;
    font-size: large;
}
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
/* expenditure form css ends */

.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transform:translateY(0px);
    transition:0.2s linear all;
    opacity:0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity:1;
}

.repeated-item.ng-leave {
    -webkit-animation:0.2s my_animation;
    animation:0.2s my_animation;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}