/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/* app css begins here*/

.app-container{
    background: url('../img/bg_main.png') repeat;
}

.content-row{
    padding-top: 60px;
    height: 100vh;
}

button:focus,
button:active{
    outline: solid 1px #1859ab;
    border-radius: 5px;
}

.heading-rotate{
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.cal-main-contain{
    padding-left: 0;
}
.side-tab-doc{
    padding-right: 0;
    padding-left: 0;
    width: 60px;
    height: 60px;

}
.side-tabset > ul.nav.nav-pills{
    width: 142px;
    height: 35px;
    padding-right: 83px;
    margin-right: 0;
}
.cal-tab-clinic{
    padding-left: 0;
    padding-right: 0;
}

.side-tabset > ul.nav >li{
    margin-right: 0;
    padding-bottom: 30px;
    padding-right: 0;
}

.side-tabset > ul.nav >li > a{
    padding: 5px 5px 5px 5px;
    color: #1859ab;
}

.side-tabset > ul.nav >li > a:hover,
.side-tabset > ul.nav >li > a:focus,
.side-tabset > ul.nav >li > a:active
{
    padding: 5px 5px 5px 5px;
    background-color: #4aaaa4;
    color: #fff;
}
/* app css ends here */

/*login page css begins here*/

#login-container{
    background: #BEE2E7;
    height: 100vh;
    width: 100vw;
}
#login-form-div{
    width: 50%;
    height: 100%;
    margin:0 auto;
    padding-top: 10%;
}
#login-container-logo{
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 2%;
    content: url(../img/ClearVision_logo.png);
    clear: both;
}
.login-form {
    margin-left: 20%;
    margin-right: 20%;
    background: #eeeeee;
    border-radius:5px;
}
.btn.btn-primary.btn-lg.btn-block {
    background: #1859A8;
    border-color:#1859A8;
    font-weight: 500pt;
    font-family: 'Lato', sans-serif;
    margin-top: 3em;
    margin-bottom: auto;
}
.login-form .checkbox {
    margin-bottom: 14px;
}
.login-form .checkbox {
    font-weight: normal;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.login-wrap {
    padding: 20px;
}
.login-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form .form-control:focus {
    z-index: 2;
}
.login-form .login-img{
    font-size: 50px;
    font-weight: 300;
}
.login-form .input-group{
    padding-bottom: 15px;
}
.login-form .input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
.login-form input[type="text"], .login-form input[type="password"] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}
.login-form .btn{
    border-radius: 3px;
}
.btn.btn-primary.btn-lg.btn-block:hover {
    background-color: transparent;
    color:#1859A8;
}
.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.login-form {
    padding: 20px;
}
/*login page css ends here*/

/*navbar csss*/

.navbar.navbar-default.navbar-fixed-top{   /*to be changed*/
    background: #BEE2E7 ;
    border-bottom: dotted 2px #777777;
}

#navbar-logo{
    content: url('../img/app-header-logo.png');
}

.notification-badge-red{
    background-color: red;
}
.notification-badge-grey{
    background-color: #777;
}

/*navbar css ends*/

/*calendar csss*/
.reset-icon{
    content: url('../img/reset_icon.png');
    width: 22px;
    height: 22px;
}

#top-content-btngrp{
    text-align: right;
    padding-right: 0;
}
#top-content-calview{
    text-align: right;
}
.top-content-search{
    text-align: left;
    width: 180px;
    padding-left: 0;
    padding-right: 0;
}

ul.legend-ul{
    text-align: center;
    margin-bottom: 2px;
    margin-top: 7px;
}
ul.legend-ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.fc-view-container{
    height: 64vh; !important;
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.left-content{
    float: left;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -webkit-transition: width 3s;
    transition: width 0.8s;
}

.left-content-resize{
    float: left;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: width 3s;
    transition: width 0.8s;
    -webkit-transition-delay: 0s;
}

.cal-view-btn{
    width: 5vw;
    border: 1px solid #FFFFFF;
    background: #4aaaa4;
    color: #FFFFFF;
}
.cal-view-btn:hover{
    /*border: 1.5px solid #7accc8;*/
    background: #1859ab;
    color: #FFFFFF;
}
.cal-view-btn:active{
    background: #4aaaa4;
    outline: 0;
}
.cal-view-btn:focus{
    background-color: #1859ab;
    /*border: 2px solid #7accc8;*/
    outline: 0;
}

.appt-form-btn{
    border: 1px solid #FFFFFF;
    background: #1859ab;
    border-radius: 5px;
}

.legend-screen{
    color: #f98a5f;
    text-decoration: none;
    border-bottom: none;
}

.legend-screen:focus,
.legend-screen:active
.legend-screen:hover
{
    color: #f98a5f;
    text-decoration: none;
    border-bottom: none;
}

.legend-preEval{
    color: #aa2159;
    text-decoration: none;
    border-bottom: none;

}
.legend-preEval:active,
.legend-preEval:focus,
.legend-preEval:hover
{
    color: #aa2159;
    text-decoration: none;
    border-bottom: none;

}

.legend-surgery{
    color: #74aaf7;
    text-decoration: none;
    border-bottom: none;
}

.legend-surgery:active,
.legend-surgery:focus,
.legend-surgery:hover
{
    color: #74aaf7;
    text-decoration: none;
    border-bottom: none;
}

.legend-all{
    color: #4aaaa4;
    text-decoration: none;
    border-bottom: none;
}

.legend-all:active,
.legend-all:focus,
.legend-all:hover
{
    color: #4aaaa4;
    text-decoration: none;
    border-bottom: none;
}

.cal-legend{
    background: #BEE2E7;
    border: dotted 1px #777777;
    border-radius: 4px;
    margin-top: 6px;
}

.legend-screen-clicked{
    color: #f98a5f;
    text-decoration: none;
    border-bottom: solid 2px #f98a5f;
}

.legend-screen-clicked:active,
.legend-screen-clicked:focus,
.legend-screen-clicked:hover
{
    color: #f98a5f;
    text-decoration: none;
    border-bottom: solid 2px #f98a5f;
}


.legend-preEval-clicked{
    color: #aa2159;
    text-decoration: none;
    border-bottom: solid 2px #aa2159;
}

.legend-preEval-clicked:active,
.legend-preEval-clicked:focus,
.legend-preEval-clicked:hover
{
    color: #aa2159;
    text-decoration: none;
    border-bottom: solid 2px #aa2159;
}

.legend-surgery-clicked{
    color: #74aaf7;
    text-decoration: none;
    border-bottom: solid 2px #74aaf7;
}

.legend-surgery-clicked:active,
.legend-surgery-clicked:focus,
.legend-surgery-clicked:hover
{
    color: #74aaf7;
    text-decoration: none;
    border-bottom: solid 2px #74aaf7;
}

.legend-all-clicked{
    color: #4aaaa4;
    text-decoration: none;
    border-bottom: solid 2px #4aaaa4;
}

.legend-all-clicked:active,
.legend-all-clicked:focus,
.legend-all-clicked:hover
{
    color: #4aaaa4;
    text-decoration: none;
    border-bottom: solid 2px #4aaaa4;
}


form.form-search {
    position: relative;
}


form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
/*calendar css ends*/

/*form page csss*/

.form-title{
    font-weight: bold;
    color: #1859ab;
}

.add-appt-formgrp{
    margin-bottom: 0;
    margin-top: 6px;
}

.right-content{
    /*display: none;*/
    display: inline-block;
    float: left;
}

.form-row.form-content-row{
    overflow-y: auto;
    height: 83vh;
}

#i-slots-date li{
    list-style: none;
}


li .i-slot-label {
    cursor: pointer;
}


.ischeduleForm{
    margin-bottom: 0;
}


/*form page css ends*/

/* dashboard css*/
.side-menu-col{
    border: 2px solid #1859ab;
    float: left;
    margin-bottom: 6px;
    display: inline-block;
}
.mth-dropdown-col{
    padding-left: 0;
    padding-right: 0;
}

.mrkt-db-main{
    padding-left: 0;
}

.side-menu-row1{
    /*border-bottom: 2px solid #1859ab;*/
    position: relative;
    margin-top: 35px;
    height: 156px;
}

.side-menu-row2{
    /*border-bottom: 2px solid #1859ab;*/
    position: relative;
    margin-top: 35px;
    height: 156px;
}
.side-menu-row3{
    position: relative;
    margin-top: 35px;
    height: 156px;
    text-align: left;
}

.filter-collapse-row{
    margin-left:15px;
    border-top: solid 2px #1859ab;
}

.filter-row-hide{
    margin-left: 15px;
    background-color: #FFFFFF;
    padding-top:0;
    border: 1px dotted #1859ab;

}
.filter-row-title{
    background-color: #e0e0e0;
    margin-bottom: 10px;
}
.filter-row-close{
    text-align: right;
    cursor: pointer;
}

.filter-row-options{
    background: rgba(255,255,255,0.2);


}

.charts-row1{
    margin-left: 15px;
}


.dashboard-chart-mrkt{
    padding-left: 0;
    padding-right: 0;
}

/* dashboard css ends*/

/* waitlist css*/

table.waitlist-main-tbl{
    margin-top: 10px;
    background-color: #ebebeb;
    border: 1px solid #e0e0e0;
}

table.waitlist-main-tbl > tbody > tr > th{
    color: #1859A8;
    text-align: center;
}
table.waitlist-main-tbl > tbody > tr > td{
    text-align: center;
}

table.waitlist-action-tbl{
    margin-top: 10px;
}

table.waitlist-action-tbl > tbody > tr > th{
    color: #1859A8;
    text-align: center;
}
table.waitlist-action-tbl > tbody > tr > td{
    padding-top:1px;
    padding-bottom: 1px;
}

table.waitlist-swap-tbl{
    margin-top: 10px;
    background-color: #ebebeb;
    border: 1px solid #e0e0e0;
}

table.waitlist-swap-tbl > tbody > tr > th{
    color: #1859A8;
    text-align: center;
}
table.waitlist-swap-tbl > tbody > tr > td{
    text-align: left;
}

.cannotSwap{
    color: #5e5e5e;
}
.canSwap{
    color: #4ea64e;
}

.fieldIsChanged{
    color: #CC0000;
}
/* waitlist css ends*?
