<div class="row content-row">
    <div class="col-md-2 config-side-col">
        <div class="row subcontent-row">
            <ul class="config-sidemenu-ul">
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click="jumpToLocation('anchor1')"><i
                            class="fa fa-user-md"></i> Doctors</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click="jumpToLocation('anchor2')"><i
                            class="fa fa-sticky-note"></i> Appointment
                        Types</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click="jumpToLocation('anchor3')"><i
                            class="fa fa-calendar-o"></i> Calendar</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click="jumpToLocation('anchor4')"><i
                            class="fa fa-commenting"></i> SMS</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-saveall-item" ng-click=""><i class="fa fa-floppy-o"></i> Save All
                        Changes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 config-main-col">
        <section id="anchor1">
            <div class="row subcontent-row">
                <div class="col-md-12">
                    <h4><span class="label label-section-config">Doctors Settings</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <ul class="doc-config-viewtabs">
                        <li class="doctors-tab"><a href="" data-ng-click="showDocView()">Doctors
                            ([[listOfDoctors.length]])</a></li>
                        <li class="doc-appts-tab"><a href="" data-ng-click="showDocApptView()">Doctor Appointment
                            Types</a>
                        </li>
                        <hr ng-class="docConfigActiveTab">
                    </ul>
                </div>
                <div class="col-md-3 right-block" ng-show="showAddNewDocBtn">
                    <button class="btn form-submit-btn" data-ng-click="openAddNewDocModal()">Add New Doctor</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="doc-config-form" ng-show="showDocConfigForm">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="doc in listOfDoctors">
                                <td>[[$index + 1]]</td>
                                <td>[[doc.name]]</td>
                                <td>
                                    <a
                                            class="edit-opt-hr"
                                            popover-template="doctorsNamePopover[$index].editDoctor.templateUrl"
                                            popover-title="Edit Doctor Name"
                                            data-ng-click="doctorsNamePopover[$index].editDoctor.open($index, doc.id)"
                                            popover-placement="bottom"
                                            popover-is-open="doctorsNamePopover[$index].editDoctor.isOpen">
                                        <i class="fa fa-pencil-square-o"></i> Edit</a>&nbsp;

                                    <a
                                            class="edit-opt-hr"
                                            popover-template="doctorsRemovePopover[$index].removeDoctor.templateUrl"
                                            popover-title="Remove Doctor"
                                            data-ng-click="doctorsRemovePopover[$index].removeDoctor.open($index, doc.id)"
                                            popover-placement="bottom"
                                            popover-is-open="doctorsRemovePopover[$index].removeDoctor.isOpen">
                                        <i class="fa fa-minus-circle"></i> Remove</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="doc-appt-config-form" ng-show="showDocApptConfigForm">
                        <table class="table table-bordered clinic-config-table">
                            <tbody>
                            <tr>
                                <td class="operating-hr-td" ng-repeat="doctor in listOfDoctors">
                                    <div class="day-of-week">
                                        [[doctor.name]]
                                    </div>
                                    <div class="doc-appts-listbox">
                                        <ul style="list-style: none; padding-left: 1%;">
                                            <li class="mrkt-list-item" ng-repeat="appointmentType in doctor.apptType">
                                                [[appointmentType.name]]
                                                <a class="remove-doc-appt-type" ng-click="">
                                                    <i class="fa fa-times"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <br/>
                                    <a class="edit-opt-hr" ng-click="openAssignNewApptTypeModal()">
                                        <i class="fa fa-plus-circle"></i> Assign Appointment Type
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="arrow-down">
            <a ng-click="jumpToLocation('anchor2')"><i class="fa fa-chevron-down"></i></a>
        </div>
        <section id="anchor2">
            <div class="row subcontent-row">
                <div class="col-md-12">
                    <h4><span class="label label-section-config">Appointment Types Settings</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <ul class="doc-config-viewtabs">
                        <li class="type-info-tab"><a href="" data-ng-click="showTypeInfoView()">Appointment Type
                            Info</a></li>
                        <li class="type-timing-tab"><a href="" data-ng-click="showTypeTimingView()">Appointment Type
                            Slots</a>
                        </li>
                        <hr ng-class="typeConfigActiveTab">
                    </ul>
                </div>
                <div class="col-md-3 right-block" ng-show="showAddNewTypeBtn">
                    <button class="btn form-submit-btn" data-ng-click="openAddNewApptTypeModal()">New Appointment Type
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="doc-config-form" ng-show="showApptInfoConfigForm">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="appt in listOfApptTypes">
                                <td>[[$index + 1]]</td>
                                <td>[[appt.apptType.name]]</td>
                                <td>
                                    <a
                                            class="edit-opt-hr"
                                            popover-template="doctorsNamePopover[$index].editDoctor.templateUrl"
                                            popover-title="Edit Doctor Name"
                                            data-ng-click="doctorsNamePopover[$index].editDoctor.open($index, doc.id)"
                                            popover-placement="bottom"
                                            popover-is-open="doctorsNamePopover[$index].editDoctor.isOpen">
                                        <i class="fa fa-pencil-square-o"></i> Edit</a>&nbsp;

                                    <a
                                            class="edit-opt-hr"
                                            popover-template="doctorsRemovePopover[$index].removeDoctor.templateUrl"
                                            popover-title="Remove Doctor"
                                            data-ng-click="doctorsRemovePopover[$index].removeDoctor.open($index, doc.id)"
                                            popover-placement="bottom"
                                            popover-is-open="doctorsRemovePopover[$index].removeDoctor.isOpen">
                                        <i class="fa fa-minus-circle"></i> Remove</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="showApptTimingConfigForm">
                        <div class="row subcontent-row">
                            <div class="col-md-3" style="padding-right: 0;">
                                <label class="control-label label-color">Doctor:</label>
                                <select class="form-control" ng-options="doc as doc.name for doc in listOfDoctors"
                                        data-ng-model="apptTypeSettingsDoc"
                                        ng-change="getDoctorApptTimings(apptTypeSettingsDoc.id, apptTypeSettingsType.id)">
                                </select>
                            </div>
                            <div class="col-md-4 col-md-offset-1" style="padding-right: 0;">
                                <label class="control-label label-color">Appointment Type:</label>
                                <select class="form-control" ng-options="appt as appt.name for appt in appointmentTypes"
                                        data-ng-model="apptTypeSettingsType"
                                        ng-change="getDoctorApptTimings(apptTypeSettingsDoc.id, apptTypeSettingsType.id)">
                                </select>
                            </div>

                        </div>
                        <div class="row subcontent-row">
                            <div class="col-md-12" style="padding-right: 0;">
                                <label class="control-label label-color">Available Time Slots:</label>
                                <table class="table table-bordered clinic-config-table">
                                    <tbody>
                                    <tr>
                                        <td class="operating-hr-td" ng-repeat="day in listOfDays">
                                            <div class="day-of-week">
                                                [[day]]
                                            </div>
                                            <div class="doc-appts-listbox">
                                                <ul style="list-style: none; padding-left: 1%;">
                                                    <li class="mrkt-list-item"
                                                        ng-repeat="doctorDay in listOfDoctorTimings[$index]">
                                                        [[doctorDay]]
                                                    </li>
                                                </ul>
                                            </div>
                                            <br/>
                                            <a class="edit-opt-hr" ng-click=""
                                               popover-template="dynamicPopover.editApptTimeslot.templateUrl"
                                               popover-title="Edit Appointment Time Slots"
                                               data-ng-click="dynamicPopover.editApptTimeslot.open();"
                                               popover-placement="right"
                                               popover-is-open="dynamicPopover.editApptTimeslot.isOpen">
                                                <i class="fa fa-pencil-square-o"></i> Edit</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="arrow-down">
            <a ng-click="jumpToLocation('anchor3')"><i class="fa fa-chevron-down"></i></a>
        </div>
        <section id="anchor3">
            <div class="row subcontent-row">
                <div class="col-md-12">
                    <h4><span class="label label-section-config">Calendar Settings</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <ul class="cal-config-viewtabs">
                        <li class="appt-color-tab"><a href="" data-ng-click="showApptColorView()">Appointment Colors</a>
                        </li>
                        <li class="heatmap-color-tab"><a href="" data-ng-click="showHeatmapView()">Heatmap</a></li>
                        <li class="opt-hrs-tab"><a href="" data-ng-click="showOptHrsView()">Time Range</a></li>
                        <hr ng-class="calConfigActiveTab">
                    </ul>
                </div>
                <div class="col-md-3 right-block" ng-show="showAddNewRngBtn">
                    <button class="btn form-submit-btn">Add New Range</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="doc-config-form" ng-show="showApptColorConfigForm">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="appt in listOfApptTypes">
                                <td>[[$index + 1]]</td>
                                <td>[[appt.apptType.name]]</td>
                                <td><h5 style="margin-top: 0;"><i class="fa fa-circle fa-lg"
                                                                  ng-style="{'color': appt.hex}"></i></h5>
                                    [[appt.hex]]
                                </td>
                                <td>
                                    <a
                                            class="edit-opt-hr"
                                            popover-template="appointmentTypesPopover[$index].editAppointmentColor.templateUrl"
                                            popover-title="Edit Appointment Color"
                                            data-ng-click="appointmentTypesPopover[$index].editAppointmentColor.open($index)"
                                            popover-placement="bottom"
                                            popover-is-open="appointmentTypesPopover[$index].editAppointmentColor.isOpen">
                                        <i class="fa fa-pencil-square-o"></i> Change Color</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="doc-config-form" ng-show="showHeatmapColorConfigForm">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="rng in listOfHeatmapRange">
                                <td>[[$index + 1]]</td>
                                <td><label>[[rng.range]]</label></td>
                                <td><h5 style="margin-top: 0;"><i class="fa fa-circle fa-lg"
                                                                  ng-style="{'color': rng.color}"></i></h5>
                                    [[rng.color]]
                                </td>
                                <td><a
                                        class="edit-opt-hr"
                                        popover-template="dynamicPopover.editHeatmap.templateUrl"
                                        popover-title="Edit Heatmap"
                                        data-ng-click="dynamicPopover.editHeatmap.open(); dynamicPopover.editHeatmap.editHeatmapRng(rng.range)"
                                        popover-placement="bottom" popover-is-open="dynamicPopover.editHeatmap.isOpen">
                                    <i class="fa fa-pencil-square-o"></i> Edit</a>&nbsp;
                                    <a class="edit-opt-hr"
                                       ng-click="">
                                        <i class="fa fa-minus-circle"></i> Remove</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="doc-config-form" ng-show="showOperatingHrsConfigForm">
                        <table class="table table-bordered clinic-config-table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="col-md-2 time-rng-div">
                                        <label class="control-label label-color">Starting Time</label>
                                    </div>
                                    <div class="col-md-3 time-rng-div">
                                        <input type="text" class="form-control date-input-field"
                                               data-ng-model="originalStartTime" disabled/>
                                    </div>
                                    <div class="col-md-2" style="padding-top: 8px;">
                                        <a class="edit-opt-hr"
                                           popover-template="dynamicPopover.editStartTime.templateUrl"
                                           popover-title="Edit Start Time"
                                           data-ng-click="dynamicPopover.editStartTime.open()"
                                           popover-placement="bottom"
                                           popover-is-open="dynamicPopover.editStartTime.isOpen">
                                            <i class="fa fa-pencil-square-o"></i> Edit</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-md-2 time-rng-div">
                                        <label class="control-label label-color">Ending Time</label>
                                    </div>
                                    <div class="col-md-3 time-rng-div">
                                        <input type="text" class="form-control date-input-field"
                                               data-ng-model="originalEndTime" disabled/>
                                    </div>
                                    <div class="col-md-2" style="padding-top: 8px;">
                                        <a class="edit-opt-hr"
                                           popover-template="dynamicPopover.editEndTime.templateUrl"
                                           popover-title="Edit End Time"
                                           data-ng-click="dynamicPopover.editEndTime.open()"
                                           popover-placement="bottom"
                                           popover-is-open="dynamicPopover.editEndTime.isOpen">
                                            <i class="fa fa-pencil-square-o"></i> Edit</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="arrow-down">
            <a ng-click="jumpToLocation('anchor4')"><i class="fa fa-chevron-down"></i></a>
        </div>
        <section id="anchor4">
            <div class="row subcontent-row">
                <div class="col-md-12">
                    <h4><span class="label label-section-config">SMS Settings</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="doc-config-viewtabs">
                        <li class="remindersms-tab"><a href="" data-ng-click="showReminderSMSView()">Appointment
                            Reminder</a></li>
                        <li class="swapsms-tab"><a href="" data-ng-click="showSwapSMSView()">Swap Appointment
                            Notification</a>
                        </li>
                        <hr ng-class="SMSConfigActiveTab">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="doc-config-form" ng-show="showReminderSMSConfigForm">
                        <div class="row subcontent-row">
                            <div class="col-md-2" style="padding-right: 0;">
                                <label class="control-label label-color">Scheduled Time:</label>
                            </div>
                            <div class="col-md-2" style="padding-left: 0;">
                                <select class="form-control" ng-options="appt for appt in listOfApptTypes"
                                        data-ng-model="apptType">
                                </select>
                            </div>
                        </div>
                        <div class="row subcontent-row">
                            <div class="col-md-2" style="padding-right: 0;">
                                <label class="control-label label-color">No. of Days (in advanced):</label>
                            </div>
                            <div class="col-md-1" style="padding-left: 0;">
                                <input type="text" class="form-control " data-ng-model="smsReminderDays"
                                       placeholder="days"/>
                            </div>
                        </div>
                    </div>
                    <div class="doc-config-form" ng-show="shownotifSMSConfigForm">
                        <div class="row subcontent-row">
                            <div class="col-md-2" style="padding-right: 0;">
                                <label class="control-label label-color">Time to 2nd Reminder:</label>
                            </div>
                            <div class="col-md-1" style="padding-left: 0;">
                                <input type="text" class="form-control " data-ng-model="notifDays" placeholder="hours"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script type="text/ng-template" id="editStartHourTemplate.html">
    <div class="form-group">
        <label>Starting Time:</label>
        <select class="form-control" ng-options="time for time in listOfAvailableTiming"
                data-ng-model="startTime" name="startTime">
        </select>
    </div>
    <div>
        <button class="btn-sm form-submit-btn pull-left"
                data-ng-click="updateCalendarStartTime('true', startTime)" style="margin-right: 2px">Update
        </button>
        <button class="btn-sm form-cancel-btn pull-right"
                data-ng-click="dynamicPopover.editStartTime.close()">Cancel
        </button>
    </div><br/><br/>
</script>

<script type="text/ng-template" id="editEndHourTemplate.html">
    <div class="form-group">
        <label>Ending Time:</label>
        <select class="form-control" ng-options="time for time in listOfAvailableTiming"
                data-ng-model="endTime" name="endTime">
        </select>
    </div>
    <div>
        <button class="btn-sm form-submit-btn pull-left"
                data-ng-click="updateCalendarEndTime('true', endTime)" style="margin-right: 2px">Update
        </button>
        <button class="btn-sm form-cancel-btn pull-right"
                data-ng-click="dynamicPopover.editEndTime.close()">Cancel
        </button>
    </div><br/><br/>
</script>

<script type="text/ng-template" id="editApptTypeColorTemplate.html">
    <form name="appointmentColorForm" novalidate>
        <div class="form-group">

            <div ng-class="{'has-error': appointmentColorForm.hexValue.$invalid && (appointmentColorForm.hexValue.$touched || appointmentColorForm.$submitted)}">
                <input data-ng-model="selectedHex" type="text" class="form-control"
                       placeholder="eg: #CCFF99" name="hexValue" maxlength="7" autocomplete="off"
                       ng-pattern="/^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/" required/>

                <div ng-show="appointmentColorForm.hexValue.$invalid && (appointmentColorForm.hexValue.$touched || appointmentColorForm.$submitted)"
                     class="help-block">
                    Invalid HEX value
                </div>
            </div>

            <h5 class="label-color center-block">Or</h5>
            <a class="edit-opt-hr"
               ng-click="" colorpicker type="button" colorpicker-position="bottom" ng-model="selectedHex">
                <i class="fa fa-eyedropper"></i> Open Color Picker</a>
        </div>
        <div class="form-group">
            <label style="font-weight: 200">New Color: </label>
            <i class="fa fa-circle fa-lg"
               ng-style="{'color': selectedHex}"></i> [[selectedHex]]
        </div>
        <div class="right-block">
            <button class="btn-sm form-submit-btn"
                    data-ng-click="updateAppointmentTypeColor(appointmentColorForm.$valid, appointmentIndex, selectedHex)">
                Update
            </button>
            <button class="btn-sm form-cancel-btn"
                    data-ng-click="appointmentTypesPopover[appointmentIndex].editAppointmentColor.close(appointmentIndex)">
                Cancel
            </button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="editDocNameTemplate.html">
    <form name="doctorNameForm" novalidate>
        <div class="form-group">
            <label>Doctor's Name on Calendar:</label>

            <div ng-class="{'has-error': doctorNameForm.doctorName.$invalid && (doctorNameForm.doctorName.$touched || doctorNameForm.$submitted)}">
                <input type="text" class="form-control " data-ng-model="newDoctorName" name="doctorName"
                       autocomplete="off" maxlength="9" required/>

                <div ng-show="doctorNameForm.doctorName.$invalid && (doctorNameForm.doctorName.$touched || doctorNameForm.$submitted)"
                     class="help-block">
                    Invalid doctor name
                </div>
            </div>
        </div>
        <div class="right-block">
            <button class="btn-sm form-submit-btn"
                    data-ng-click="updateDoctorName(doctorNameForm.$valid, doctorNameId, newDoctorName)">Update
            </button>
            <button class="btn-sm form-cancel-btn"
                    data-ng-click="doctorsNamePopover[doctorNameIndex].editDoctor.close(doctorNameIndex)">Cancel
            </button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="removeDocTemplate.html">

    <form name="doctorRemoveForm" ng-show="showPassword" novalidate>
        <div class="form-group">

            <label>Enter password to confirm:</label>

            <div ng-class="{'has-error': (doctorRemoveForm.password.$invalid && (doctorRemoveForm.password.$touched || doctorRemoveForm.$submitted)) || showIncorrectPw}">
                <input type="password" class="form-control" data-ng-model="adminPassword" name="password"
                       autocomplete="off" required/>

                <div ng-show="doctorRemoveForm.password.$invalid && (doctorRemoveForm.password.$touched || doctorRemoveForm.$submitted)"
                     class="help-block">
                    Invalid password
                </div>

                <div ng-show="showIncorrectPw" class="help-block">
                    Incorrect password
                </div>
            </div>
        </div>

        <button class="btn-sm form-submit-btn"
                data-ng-click="removeDoctor(doctorRemoveForm.$valid, doctorRemoveId, adminPassword)">Remove
        </button>
        <button class="btn-sm form-cancel-btn"
                data-ng-click="doctorsRemovePopover[doctorRemoveIndex].removeDoctor.close(doctorRemoveIndex)">
            Cancel
        </button>
    </form>

    <form name="sendEmailForm" ng-show="showWarning" novalidate>
        <div class="form-group">

            <div class="has-error">
                <div class="help-block">Warning! Please clear doctor's appointments first</div>
            </div>

            <label>Enter your email:</label>
            <input type="text" class="form-control" data-ng-model="userEmail" name="email"
                   autocomplete="off"/><br/>

            <div ng-show="sendEmailForm.email.$invalid && (sendEmailForm.email.$touched || sendEmailForm.$submitted)"
                 class="help-block">
                Invalid email
            </div>
        </div>

        <button class="btn-sm form-submit-btn"
                data-ng-click="sendEmail('true', doctorRemoveId, userEmail)">Send Email
        </button>
        <button class="btn-sm form-cancel-btn"
                data-ng-click="doctorsRemovePopover[doctorRemoveIndex].removeDoctor.close(doctorRemoveIndex)">
            Cancel
        </button>
    </form>

</script>

<script type="text/ng-template" id="editHeatmapRngTemplate.html">
    <div class="form-group">
        <label>Range (No. of Appointments):</label>

        <div class="row">
            <div class="col-md-3" style="padding-right: 0">
                <select class="form-control" ng-options="opt for opt in listOfOperants"
                        data-ng-model="heatmapRngOperant">
                </select>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" data-ng-model="heatmapNoOfAppts"/>
            </div>
        </div>
    </div>
    <div class="right-block">
        <button class="btn-sm form-submit-btn">Update</button>
        <button class="btn-sm form-cancel-btn">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="editApptTimeslotTemplate.html">
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-11">
                <ul class="timeslots-ul">
                    <li ng-repeat="slot in listOfTimeslots" ng-class="{typeSelected: apptType}"><h4><span
                            class="label label-default"
                            style="background-color: #bed4e3;cursor: pointer">[[slot]]</span>
                        <input type="checkbox"
                               ng-model="apptTime"
                               ng-click=""></h4>
                        <!--<a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-block">
        <button class="btn-sm form-submit-btn">Update</button>
        <button class="btn-sm form-cancel-btn">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="myAddNewDocModalTemplate.html">
    <div class="modal-header">
        <h3 class="add-new-doc-title">Create New Doctor<span><a data-ng-click="cancel()"
                                                                class="close-config-modal pull-right"><h4><i
                class="fa fa-times"></i></h4></a></span></h3>

        <ul class="progress-indicator">
            <li class="bubble" ng-class="StepOneComplete">
                <span class="bubble" ng-class="StepOneComplete"></span>
                <i class="fa fa-check-circle" ng-show="showStepOneChecker"></i>
                1. Doctor Info
            </li>
            <li class="bubble" ng-class="StepTwoComplete">
                <span class="bubble" ng-class="StepTwoComplete"></span>
                <i class="fa fa-check-circle" ng-show="showStepTwoChecker"></i>
                2. Appointment Type
            </li>
            <li class="bubble" ng-class="StepThreeComplete">
                <span class="bubble" ng-class="StepThreeComplete"></span>
                <i class="fa fa-check-circle" ng-show="showStepThreeChecker"></i>
                3. Available Time Slots
            </li>
        </ul>
    </div>
    <div class="modal-body center-block" style="height: 252px">
        <div class="doc-info-form" ng-show="docInfoFormVisible">
            <div class="form-group">
                <label class="label-color">Doctor Name</label>
                <input type="text" class="form-control add-new-doc-form" data-ng-model="docNameNew"/></div>
            <div class="form-group">
                <label class="label-color">Contact No</label>
                <input type="text" class="form-control add-new-doc-form" data-ng-model="docNameNew"/>
            </div>
            <div class="form-group">
                <label class="label-color">Mobile Phone Model</label>
                <input type="text" class="form-control add-new-doc-form" data-ng-model="docNameNew"/>
            </div>
        </div>
        <div ng-show="docApptTypeFormVisible">
            <div class="form-group">
                <label class="label-color">Select Doctor's Appointment Types</label>

                <div class="create-modal-listbox">
                    <ul style="list-style: none; padding-left: 1%;">
                        <li ng-class="{typeSelected: apptType}"
                            class="mrkt-list-item"
                            ng-repeat="type in appointmentTypes">
                            <label>[[type.apptType]]
                                <input type="checkbox"
                                       ng-model="apptType"
                                       ng-click="">
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="docApptSlotFormVisible ">
            <div class="col-md-3 docAppt-timeslot-side">
                <ul style="list-style: none">
                    <li ng-class="{typeSelected: apptType}"
                        class="mrkt-list-item"
                        ng-repeat="type in appointmentTypes">
                        <label>[[type.apptType]]
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 form-group">
                <label class="label-color">Select Available Time Slots</label>

                <div class="create-modal-listbox">
                    <ul class="timeslots-ul">
                        <li ng-repeat="slot in listOfAvailableSlots" ng-class="{slotSelected: apptSlot}"><h4><span
                                class="label label-default"
                                style="background-color: #bed4e3;cursor: pointer">[[slot]]<input type="checkbox"
                                                                                                 ng-model="apptSlot"
                                                                                                 ng-click=""></span>
                        </h4>
                            <!--<a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div ng-show="stepOneBtnGrp">
            <button class="btn form-submit-btn pull-right" type="button" ng-click="stepOneNext()">Next
            </button>
        </div>
        <div ng-show="stepTwoBtnGrp">
            <button class="btn form-submit-btn pull-right" type="button" ng-click="stepTwoNext()">Next
            </button>
            <button class="btn form-submit-btn pull-left" type="button" ng-click="stepTwoBack()">Back
            </button>
        </div>
        <div ng-show="stepThreeBtnGrp">
            <button class="btn form-submit-btn pull-left" type="button" ng-click="stepThreeBack()">Back
            </button>
            <button class="btn form-submit-btn pull-right" type="button" ng-click="submit()">
                Submit
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myAddNewApptTypeModalTemplate.html">
    <div class="modal-header">
        <h3 class="add-new-doc-title">Create New Appointment Type<span>
            <a data-ng-click="cancel()" class="close-config-modal pull-right"><h4>
                <i class="fa fa-times"></i></h4></a></span></h3>

        <ul class="progress-indicator">
            <li class="bubble" ng-class="StepOneComplete">
                <span class="bubble" ng-class="StepOneComplete"></span>
                <i class="fa fa-check-circle" ng-show="showStepOneChecker"></i>
                1. Appointment Type Info
            </li>
        </ul>
    </div>
    <div class="modal-body center-block" style="height: 252px">
        <div class="doc-info-form">
            <div class="form-group">
                <label class="label-color">Appointment Type Name</label>
                <input type="text" class="form-control add-new-doc-form" data-ng-model="appointmentTypeName"/></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="center-block">
            <button class="btn form-submit-btn" type="button"
                    ng-click="createNewAppointmentType('true', appointmentTypeName)">Submit
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="assignNewTypeModalTemplate.html">
    <div class="modal-header">
        <h3 class="add-new-doc-title">Assign New Appointment Type<span><a data-ng-click="cancel()"
                                                                          class="close-config-modal pull-right"><h4><i
                class="fa fa-times"></i></h4></a></span></h3>

        <ul class="progress-indicator">
            <li class="bubble" ng-class="StepOneComplete">
                <span class="bubble" ng-class="StepOneComplete"></span>
                <i class="fa fa-check-circle" ng-show="showStepOneChecker"></i>
                1. Appointment Type
            </li>
            <li class="bubble" ng-class="StepThreeComplete">
                <span class="bubble" ng-class="StepThreeComplete"></span>
                <i class="fa fa-check-circle" ng-show="showStepThreeChecker"></i>
                2. Available Time Slots
            </li>
        </ul>
    </div>
    <div class="modal-body center-block" style="height: 252px">
        <div class="doc-info-form" ng-show="newTypeInfoVisible">
            <div class="form-group">
                <label class="label-color">Select New Appointment Type</label>
                <select class="form-control add-new-doc-form" ng-options="type.name for type in appointmentTypes"
                        data-ng-model="newAppointmentType">
                </select></div>
        </div>
        <div ng-show="newApptSlotFormVisible ">
            <div class="col-md-3 docAppt-timeslot-side">
                <ul style="list-style: none">
                    <li ng-class="{typeSelected: apptType}"
                        class="mrkt-list-item"
                        ng-repeat="day in listOfWorkingDays" style="height: 40px;">
                        <label>[[day]]</label>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 form-group">
                <label class="label-color">Select Available Time Slots</label>

                <div class="create-modal-listbox">
                    <ul class="timeslots-ul">
                        <li ng-repeat="slot in listOfAvailableSlots.timings"
                            ng-class="{slotSelected: slot.active}">
                            <h4><span class="label label-default" style="background-color: #bed4e3;cursor: pointer">[[slot.time]]
                                <input type="checkbox" ng-model="apptSlot" ng-click="testing()"></span>
                            </h4>
                            <!--<a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div ng-show="assignTypeStepOneBtnGrp">
            <button class="btn form-submit-btn pull-right" type="button" ng-click="assignTypeStepOneNext()">Next
            </button>
        </div>
        <div ng-show="assignTypeStepSubmitBtnGrp">
            <button class="btn form-submit-btn pull-left" type="button" ng-click="assignTypeStepSubmitBack()">Back
            </button>
            <button class="btn form-submit-btn pull-right" type="button" ng-click="">
                Submit
            </button>
        </div>
    </div>
</script>


