<!-- row for entire app content-->
<div class="row content-row">
    <!-- col for top content, cal content, legend content-->
    <div class="col-sm-12 left-content" ng-class="leftAnimation">

        <!-- row for top content: button groups-->
        <div class="row">
            <div class="col-sm-12">
                <!-- inner row for all buttons>-->
                <div class="row center-block">
                    <div class="col-sm-2" id="top-content-search">
                        <div class="nav search-row">
                            <input class="form-control" placeholder="Search" type="text">
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1" id="top-content-calview">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary cal-view-btn"
                                    ng-click="changeView('agendaDay', 'myCalendar1')">Day
                            </button>
                            <button type="button" class="btn btn-primary cal-view-btn"
                                    ng-click="changeView('agendaWeek', 'myCalendar1')">Week
                            </button>
                            <button type="button" class="btn btn-primary cal-view-btn"
                                    ng-click="changeView('month', 'myCalendar1')">
                                Month
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-2" id="top-content-btngrp" ng-show="addAndBlockButtons">
                        <div class="btn-group appt-form-btn" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" ng-click="showForm('Create')"><i
                                    class="fa fa-plus-circle"></i> Add
                                Appointment
                            </button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-ban"></i> Block</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row for top content ends-->

        <!-- row for calendar content-->
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <tabset type="pills">
                        <tab select="renderCalendar('drHoCalendar');"
                             ng-init="getDrHoScreenings(); getDrHoPreEvaluations(); getDrHoSurgeries();">
                            <tab-heading>
                                <i class="fa fa-calendar tab-head-icon"></i> Doctor Ho
                            </tab-heading>
                            <!--<div class="alert-success calAlert"
                                 ng-show="alertMessage != undefined && alertMessage != '' ">
                                <h4>[[ alertMessage ]]</h4>
                            </div>-->
                            <div class="calendar" ng-model="doctorHoAppointments" calendar="myCalendar1"
                                 ui-calendar="uiConfig.calendar" id="drHoCalendar"></div>
                        </tab>
                        <tab select="renderCalendar('drGohCalendar');"
                             ng-click="getDrGohScreenings(); getDrGohPreEvaluations(); getDrGohSurgeries();">
                            <tab-heading>
                                <i class="fa fa-calendar"></i> Doctor Goh
                            </tab-heading>
                            <!--<div class="alert-success calAlert"
                                 ng-show="alertMessage != undefined && alertMessage != '' ">
                                <h4>[[ alertMessage ]]</h4>
                            </div>-->
                            <div class="calendar" ng-model="doctorGohAppointments" calendar="myCalendar2"
                                 ui-calendar="uiConfig.calendar" id="drGohCalendar"></div>
                        </tab>
                    </tabset>

                    <div>
                        <ul class="legend-ul">
                            <li><a href="#" data-ng-click="" class="legend-screen"><i class="fa fa-stop"></i> Screening</a>
                            </li>
                            <li><a href="#" data-ng-click="" class="legend-preEval"><i class="fa fa-stop"></i> Pre-Eval</a>
                            </li>
                            <li><a href="#" data-ng-click="" class="legend-lasik"><i class="fa fa-stop"></i> Lasik</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row for cal content ends-->

    </div>
    <!--col for top content, cal content and legend content ends-->

    <!-- col for form content -->
    <div class="col-sm-4 right-content" ng-class="rightAnimation">
        <!-- row for form content -->
        <div class="row form-row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-sm" data-ng-click="hideForm()"><i
                        class="fa fa-chevron-left"></i> Back
                </button>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h5 class="form-title" style="font-weight: bold">[[formTitle]]</h5>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-sm-12 add-appt-formgrp">
                <form class="form-horizontal" id="edit-form-patients" name="appointmentForm" novalidate>

                    <div class="form-group col-sm-12 add-appt-formgrp" ng-show="showPatientList">
                        <label class="control-label">Patient List</label>
                        <select class="form-control" data-ng-model="selectedPatient"
                                ng-change="populatePatientDetails()"
                                ng-options="patient.name for patient in fields.patientList"
                                name="patientList">
                        </select>

                        <div style="color:red" ng-if="fields.selectedPatient.length === 0">
                            [[remarkWarning]]
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <label class="control-label">Appointment Type</label>
                        <select class="form-control" ng-options="appt for appt in listOfAppointmentTypes"
                                ng-model="fields.appointmentType" name="appointmentType">
                        </select>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Patient Name</label>
                                <input type="text" class="form-control" data-ng-model="fields.patientName"
                                       ng-disabled="disablePatientNameInput" name="patientName">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Contact No.</label>
                                <input type="text" class="form-control" data-ng-model="fields.patientContact"
                                       ng-disabled="disablePatientContactInput" name="patientContact">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-8 date-div">
                                <label class="control-label">Date</label>

                                <p class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="[[ format ]]"
                                           name="datePickerCalendar"
                                           ng-model="fields.appointmentDate"
                                           is-open="datepickers.showDatePicker"
                                           min-date="minDate"
                                           datepicker-options="dateOptions"
                                           show-button-bar="false"
                                            />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="open($event,'showDatePicker')">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                </p>

                            </div>

                            <div class="col-sm-4" date-div>
                                <label class="control-label">Time</label>
                                <select class="form-control" ng-options="appt for appt in listOfAppointmentTimings"
                                        data-ng-model="fields.appointmentTime" name="appointmentTime">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <label class="control-label">Doctor</label>

                        <div class="row">
                            <div class="radio col-sm-6">
                                <label><input type="radio" data-ng-model="fields.doctorAssigned" value="2"
                                              ng-disabled="disableAssignedDoctorInput" name="doctorAssigned">
                                    Dr.Ho
                                </label>
                            </div>
                            <div class="radio col-sm-6">
                                <label><input type="radio" data-ng-model="fields.doctorAssigned" value="1"
                                              ng-disabled="disableAssignedDoctorInput" name="doctorAssigned">
                                    Dr.Goh
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <label class="control-label">Marketing Channel</label>
                        <select class="form-control" data-ng-model="fields.marketingChannel"
                                ng-disabled="disableMktgChannelInput"
                                ng-options="channel for channel in listOfMarketingChannels"
                                name="marketingChannel">
                        </select>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <label class="control-label">Remarks</label>
                        <textarea class="form-control" rows="3" data-ng-model="fields.appointmentRemarks"
                                  placeholder="Optional" name="appointmentRemarks">
                        </textarea>
                    </div>

                    <!-- LEON TO MODIFY THIS -->
                    <div class="form-group col-sm-12 add-appt-formgrp" ng-show="showPatientList">
                        <label class="control-label">Earliest Availability</label>
                        <select class="form-control" data-ng-model="appointmentPatient"
                                ng-change="populatePatientDetails()">
                            <option ng-repeat="patient in patientList">
                                [[patient.name]]
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 add-appt-formgrp" ng-show="showPatientList">
                        <label class="control-label">Less Packed Slots</label>
                        <select class="form-control" data-ng-model="appointmentPatient"
                                ng-change="populatePatientDetails()">
                            <option ng-repeat="patient in patientList">
                                [[patient.name]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-1">
                                <button class="btn btn-success"
                                        data-ng-click="postAppointment();"
                                        ng-show="showSubmitButton">Submit
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-success"
                                        data-ng-click="postAppointment();"
                                        ng-show="showEditButton">Edit
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <button class="btn btn-warning"
                                        data-ng-click="hideForm()">Cancel
                                </button>
                            </div>
                            <div class="col-sm-1 col-sm-offset-1">
                                <button class="btn btn-default"
                                        data-ng-click="clearForm();"
                                        ng-show="showResetButton">Reset
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <button class="btn btn-danger"
                                        data-ng-click="deleteAppointment()"
                                        ng-show="showDeleteButton">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- col for form content ends -->
</div>
<!-- row for entire app content ends-->
<div class="clearfix"></div>



