<!-- row for entire app content-->
<div class="row content-row">
    <!-- col for top content, cal content, legend content-->
    <div class="col-sm-12 left-content"
         ng-class="scaleDownCalendar ? 'col-sm-8 left-content-resize' : 'col-sm-12 left-content'">
        <!-- row for top content: button groups-->
        <div class="row">
            <div class="col-sm-12 cal-main-container">
                <!-- inner row for all buttons>-->
                <div class="row center-block">
                    <div class="col-sm-2 top-content-search">
                        <form class="form-search form-inline">
                            <input type="text" style="padding-left: 26px;" class="form-control"
                                   placeholder="Search"
                                   ng-model="searchText"
                                   typeahead="appt for appt in searchForAppt($viewValue)"
                                   typeahead-loading="loadingAppointments" typeahead-no-results="noResults"
                                   typeahead-on-select='onSelect($item, $model, $label)'
                                   ng-disabled="disableSearchBox"/>
                        </form>
                        <!-- /input-group -->
                    </div>
                    <div class="col-sm-2 search-result-text">
                        <div ng-show="loadingAppointments"><i class="fa fa-spinner fa-spin"></i> Loading..</div>
                        <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                    </div>

                    <div class="col-sm-4" id="top-content-calview">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary cal-view-btn"
                                    ng-click="changeView('agendaDay', allDoctorsVariables[chosenDoctor.calendarTag].changeCalendar)">
                                Day
                            </button>
                            <button type="button" class="btn btn-primary cal-view-btn"
                                    ng-click="changeView('agendaWeek', allDoctorsVariables[chosenDoctor.calendarTag].changeCalendar)">
                                Week
                            </button>
                            <button type="button" class="btn btn-primary cal-view-btn"
                                    ng-click="changeView('month', allDoctorsVariables[chosenDoctor.calendarTag].changeCalendar)">
                                Month
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-4" id="top-content-btngrp"
                         ng-show="form.showButtons.addAndBlock">
                        <div class="btn-group appt-form-btn" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary form-btn" ng-click="showForm('Create')"><i
                                    class="fa fa-plus-circle"></i> Add Appointment
                            </button>
                            <button type="button" class="btn btn-primary form-btn" ng-click="showBlockForm()"><i
                                    class="fa fa-ban"></i> Block
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row for top content ends-->

        <!-- row for calendar content-->
        <div class="row">
            <!--<div class="col-sm-12">-->
            <div class="col-sm-12 cal-main-container">
                <!--<div class="col-sm-1 side-tab-doc">
                            <tabset vertical="true" type="pills" class="side-tabset">
                                <tab heading="Dr. Ho" class="heading-rotate"></tab>
                                <tab heading="Dr. Goh" class="heading-rotate"></tab>
                            </tabset>
                </div>-->

                <div class="jumbotron" ng-class="{'ijumbotron' : showHeatMap}">
                    <div class="row">
                        <div class="col-sm-12 cal-tab-clinic">
                            <tabset type="pills" vertical="true" class="side-tabset">
                                <tab ng-repeat="tab in allDoctorsVariables" heading="[[tab.title]]"
                                     select="renderCalendar(tab.calendar);"
                                     class="heading-rotate"
                                     ng-click="changeCalendar(tab.calendarTag, tab.disable, true, false)"
                                     active="tab.active" disable="tab.disable">

                                    <div class="calendar" ng-model="tab.doctorAppointmentSource"
                                         calendar="[[tab.changeCalendar]]"
                                         ui-calendar="uiConfig.calendar" id="[[tab.calendar]]"></div>
                                </tab>
                                <!-- <tab heading="Dr. Goh" select="renderCalendar('drGohCalendar');"
                                     ng-init="getDrGohScreenings(); getDrGohPreEvaluations(); getDrGohSurgeries();"
                                     class="heading-rotate" ng-click="changeCalendar('myCalendar2')"
                                     active="drGohCalendar">

                                    <div class="calendar" ng-model="doctorGohAppointments" calendar="myCalendar2"
                                         ui-calendar="uiConfig.calendar" id="drGohCalendar"></div>
                                </tab> -->
                            </tabset>
                        </div>
                        <!--sd-->
                    </div>
                    <div class="row" ng-init="getAppointmentType()">
                        <!-- legend for doctors -->
                        <div class="cal-legend" ng-show="showDoctorLegend">
                            <ul class="legend-ul">
                                <li ng-repeat="type in chosenDoctor.appointmentTypeColorArray">
                                    <a href="#/"
                                       singleclick="filterByAppointmentTypes('Pre Evaluation', false)"
                                       data-ng-Dblclick="filterByAppointmentTypes('Pre Evaluation', true)"
                                       class="legend-clicked"
                                       ng-style="{'color' : type.color, 'border-bottom' : 'solid 2px ' + type.color}"><i
                                            ng-class="preEvalIconChange" ng-style="{'color': type.color}"></i>
                                        [[type.name]]</a>
                                </li>
                                <!--<li><a href="#/" singleclick="filterByAppointmentTypes('Surgery', false)"
                                       data-ng-Dblclick="filterByAppointmentTypes('Surgery', true)"
                                       ng-class="legendSurgeryClicked"><i
                                        ng-class="surgeryIconChange"></i> Lasik</a>
                                </li>
                                <li><a href="#/" singleclick="filterByAppointmentTypes('Post Operation', false)"
                                       data-ng-Dblclick="filterByAppointmentTypes('Post Operation', true)"
                                       ng-class="legendPostOpClicked"><i
                                        ng-class="postOpIconChange"></i> Post Surgery</a>
                                </li>-->
                                <li><a href="#/" singleclick="filterByAppointmentTypes('All', false)"
                                       data-ng-Dblclick="filterByAppointmentTypes('All')" class="legend-all">Show
                                    All</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
        <!-- row for cal content ends-->

    </div>
    <!--col for top content, cal content and legend content ends-->

    <!-- col for appointment form content -->
    <div class="col-sm-4 right-content" ng-show="form.showForm">
        <!-- row for form content -->
        <div class="row form-row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm form-submit-btn" data-ng-click="hideForm()"
                        ng-disabled="form.backBtn">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
            </div>
            <div class="col-sm-9">
                <h5 class="form-title" style="font-weight: bold">[[formTitle]]</h5>
            </div>
        </div>
        <div class="row form-content-row">
            <div class="col-sm-12 add-appt-formgrp">
                <form class="form-horizontal" id="edit-form-patients" name="appointmentForm" novalidate>

                    <div class="form-group col-sm-12 add-appt-formgrp" ng-show="showPatientList">
                        <label class="control-label">Patient List</label>
                        <select class="form-control" data-ng-model="fields.selectedPatient"
                                ng-change="populatePatientDetails()"
                                ng-options="patient.name for patient in fields.patientList"
                                name="patientList">
                        </select>

                        <div style="color:red" ng-if="fields.fields.selectedPatient.length === 0">
                            [[remarkWarning]]
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showFields.appointmentType" ng-init="getListOfAppointmentTypes()">

                        <label class="control-label">Appointment Type</label>

                        <div ng-class="{'has-error': appointmentForm.appointmentType.$invalid && (appointmentForm.appointmentType.$touched || appointmentForm.$submitted)}">
                            <select class="form-control"
                                    ng-options="appt as appt.name for appt in listOfAppointmentTypes"
                                    ng-model="fields.appointmentType" name="appointmentType"
                                    ng-change="enableISchedule(); getAppointmentTimings(); getDoctorAppointmentTypes();"
                                    ng-disabled="form.disableFields.disabledApptType"
                                    required>
                            </select>

                            <div ng-show="appointmentForm.appointmentType.$invalid && (appointmentForm.appointmentType.$touched || appointmentForm.$submitted)"
                                 class="help-block">
                                Please select an appointment type
                            </div>
                        </div>
                    </div>

                    <!-- Assigned doctor -->
                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showFields.doctor" ng-init="getAllDoctors()">

                        <label class="control-label">Doctor</label>

                        <div ng-class="{'has-error': appointmentForm.doctorAssigned.$invalid && (appointmentForm.doctorAssigned.$touched || appointmentForm.$submitted)}">
                            <select class="form-control" ng-options="doc as doc.name for doc in listOfDoctors"
                                    ng-model="fields.doctorAssigned" name="doctorAssigned"
                                    ng-disabled="form.disableFields.doctor"
                                    ng-change="changeCalendar('', true, false, false); getAppointmentTimings();"
                                    required>
                            </select>

                            <div ng-show="appointmentForm.doctorAssigned.$invalid && (appointmentForm.doctorAssigned.$touched || appointmentForm.$submitted)"
                                 class="help-block">
                                Please select a doctor
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-6 form-animation" ng-show="form.showFields.contact">
                                <label class="control-label">Contact No.</label>

                                <div ng-class="{'has-error': appointmentForm.patientContact.$invalid && (appointmentForm.patientContact.$touched || appointmentForm.$submitted)}">
                                    <input type="text" class="form-control" data-ng-model="fields.patientContact"
                                           ng-disabled="form.disableFields.contact" name="patientContact"
                                           autocomplete="off"
                                           ng-pattern="/^[0-9]{1,20}$/" ng-maxlength="20"
                                           typeahead="appt.str for appt in checkExistingPatient($viewValue)"
                                           typeahead-min-length="7"
                                           typeahead-on-select='selectPatient($item, $model, $label)'
                                           required>

                                    <div ng-show="appointmentForm.patientContact.$invalid && (appointmentForm.patientContact.$touched || appointmentForm.$submitted)"
                                         class="help-block">
                                        Invalid Number
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-animation" ng-show="form.showFields.name">
                                <label class="control-label">Patient Name</label>

                                <div ng-class="{'has-error': appointmentForm.patientName.$invalid && (appointmentForm.patientName.$touched || appointmentForm.$submitted)}">
                                    <input type="text" class="form-control" data-ng-model="fields.patientName"
                                           ng-disabled="form.disableFields.patientName" name="patientName"
                                           autocomplete="off" required>

                                    <div ng-show="appointmentForm.patientName.$invalid && (appointmentForm.patientName.$touched || appointmentForm.$submitted)"
                                         class="help-block">
                                        Please enter a name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-8 date-div form-animation" ng-show="form.showFields.datepicker">

                                <label class="control-label">Date</label>

                                <div ng-class="{'has-error': appointmentForm.datePickerCalendar.$invalid && (appointmentForm.datePickerCalendar.$touched || appointmentForm.$submitted)}">
                                    <p class="input-group">
                                        <input type="text"
                                               class="form-control date-input-field"
                                               datepicker-popup="[[ format ]]"
                                               name="datePickerCalendar"
                                               ng-model="fields.appointmentDate"
                                               is-open="datepickers.showDatePicker"
                                               min-date="minDate"
                                               datepicker-options="dateOptions"
                                               show-button-bar="false"
                                               ng-change="navigateToDate(); getAppointmentTimings('',false);"
                                               ng-disabled="true"
                                               date-disabled="disabled(date, mode)"
                                               required
                                                />

                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="open($event,'showDatePicker')">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                    </p>

                                    <div ng-show="appointmentForm.datePickerCalendar.$invalid && (appointmentForm.datePickerCalendar.$touched || appointmentForm.$submitted)"
                                         class="help-block">
                                        Invalid date
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-animation" date-div ng-show="form.showFields.time">

                                <label class="control-label">Time</label>

                                <div ng-class="{'has-error': appointmentForm.appointmentTime.$invalid && (appointmentForm.appointmentTime.$touched || appointmentForm.$submitted)}">
                                    <select class="form-control"
                                            ng-options="appt for appt in listOfAppointmentTimings"
                                            data-ng-model="fields.appointmentTime" name="appointmentTime"
                                            ng-disabled="form.disableFields.appointmentTime"
                                            required>
                                    </select>

                                    <div ng-show="appointmentForm.appointmentTime.$invalid && (appointmentForm.appointmentTime.$touched || appointmentForm.$submitted)"
                                         class="help-block">
                                        Invalid time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 add-appt-formgrp form-animation" ng-show="form.showSuggestedSlot">
                        <div class="row subcontent-row">
                            <div class="col-sm-12">
                                <a ng-href="#/" class="suggest-time-badge"
                                   ng-click="displaySuggestedSlots()">
                                    <i class="fa fa-question-circle" style="font-size: 13pt;"></i> View suggested time
                                    slots</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 form-animation" ng-show="form.suggestedSlotList"
                         style="margin-bottom: 0">
                        <div class="create-modal-listbox" style="margin-top: 10px">
                            <ul class="suggestslots-ul">
                                <li class="right-block"><a ng-click="hideSuggestedSlots()" class="pointer-cursor"><i
                                        class="fa fa-times"></i> close</a></li>
                                <li class="available-slot-item" ng-repeat="appt in listOfSuggestedAppointments">
                                    <label ng-class="{slotSelected: isTimeSlotSelected}">
                                        <input type="checkbox" ng-model="placeholder"
                                               ng-click="">[[appt.date]] [[appt.start]]
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Waiting list -->
                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showFields.waitingList">

                        <label class="control-label">Waiting list</label>

                        <div ng-class="{'has-error': appointmentForm.waitList.$invalid && (appointmentForm.waitList.$touched || appointmentForm.$submitted)}">
                            <div class="radio col-sm-6">
                                <label style="float: left; clear: none"><input type="radio"
                                                                               data-ng-model="fields.waitingList"
                                                                               value="True"
                                                                               ng-change="showWaitingFields('yes')"
                                                                               name="waitList"
                                                                               ng-disabled="form.disableFields.waitListCheckbox"
                                                                               ng-required="!fields.waitingList"
                                                                               style="float: left;clear: none">
                                    Yes
                                </label>
                            </div>
                            <div class="radio col-sm-6">
                                <label><input type="radio" data-ng-model="fields.waitingList" value="False"
                                              ng-change="showWaitingFields('no')" name="waitList"
                                              ng-disabled="form.disableFields.waitListCheckbox"
                                              ng-required="!fields.waitingList">
                                    No
                                </label>
                            </div>

                            <div ng-show="appointmentForm.waitList.$invalid && (appointmentForm.waitList.$touched || appointmentForm.$submitted)"
                                 class="help-block">
                                Select an option
                            </div>
                        </div>
                    </div>

                    <!-- Date and time for waiting list -->
                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-8 date-div form-animation" ng-show="showWaitingDate">
                                <label class="control-label">Date</label>

                                <p class="input-group">
                                    <input type="text"
                                           class="form-control date-input-field"
                                           datepicker-popup="[[ format ]]"
                                           name="datePickerCalendar2"
                                           ng-model="fields.waitingDate"
                                           is-open="datepickers.showDatePicker2"
                                           min-date="minDate"
                                           datepicker-options="dateOptions"
                                           show-button-bar="false"
                                           ng-change="formatWaitingListDate(); getAppointmentTimings('',true);"
                                           ng-required="showWaitingDate"
                                           ng-disabled="true"
                                           date-disabled="disabled(date, mode)"
                                            />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="open($event,'showDatePicker2')"
                                                        ng-disabled="form.disableFields.waitListDateBtn">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                </p>

                            </div>

                            <div class="col-sm-4 form-animation" date-div ng-show="showWaitingTime"
                                 ng-class="{'has-error': appointmentForm.waitListTime.$invalid && (appointmentForm.waitListTime.$touched || appointmentForm.$submitted)}">
                                <label class="control-label">Time</label>
                                <select class="form-control" ng-options="appt for appt in listOfWaitlistTimings"
                                        data-ng-model="fields.waitingTime" name="waitListTime"
                                        ng-disabled="form.disableFields.waitListTime"
                                        ng-required="showWaitingTime">
                                </select>

                                <div ng-show="appointmentForm.waitListTime.$invalid && (appointmentForm.waitListTime.$touched || appointmentForm.$submitted)"
                                     class="help-block">
                                    Invalid Time
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showFields.marketingChannel" ng-init="getMarketingChannels();">

                        <label class="control-label">Marketing Channels</label>

                        <div ng-class="{'has-error': appointmentForm.marketingChannel.$invalid && (appointmentForm.marketingChannel.$touched || appointmentForm.$submitted)}">
                            <select class="form-control" data-ng-model="fields.marketingChannel"
                                    ng-disabled="form.disableFields.marketingChannel"
                                    ng-options="channel as channel.name for channel in listOfMarketingChannels"
                                    name="marketingChannel" required>
                            </select>

                            <div ng-show="appointmentForm.marketingChannel.$invalid && (appointmentForm.marketingChannel.$touched || appointmentForm.$submitted)"
                                 class="help-block">
                                Please select a marketing channel
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showFields.remarks">
                        <label class="control-label">Remarks</label>
                        <textarea class="form-control" rows="3" data-ng-model="fields.appointmentRemarks"
                                  placeholder="Optional" name="appointmentRemarks">
                        </textarea>
                    </div>
                    <div class="form-group col-sm-12 add-appt-formgrp" ng-show="form.showFields.sms">
                        <input type="checkbox" ng-model="fields.smsOptOut" style="float: left; display: inline-block">
                        <label style="float: left; display: inline-block; padding-top: 7px">SMS Opt Out</label>
                    </div>

                    <!-- button group for create appointment form -->
                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showButtons.createForm">
                        <div class="row subcontent-row">
                            <div class="col-sm-2">
                                <button class="btn btn-default btn-sm"
                                        data-ng-click="clearForm()"
                                        type="reset"><img class="reset-icon">
                                </button>
                            </div>
                            <div class="col-sm-4 col-sm-offset-1">
                                <button class="btn form-submit-btn"
                                        data-ng-click="isFormValid(appointmentForm.$valid);">Submit
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn form-cancel-btn"
                                        type="reset"
                                        data-ng-click="hideForm()">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- button group for edit appointment form -->
                    <div class="form-group col-sm-12 add-appt-formgrp form-animation"
                         ng-show="form.showButtons.editForm">
                        <div class="row subcontent-row">
                            <div class="col-sm-2">
                                <button class="btn btn-default"
                                        data-ng-click="openDeleteModal('lg')"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="col-sm-4 col-sm-offset-1">
                                <button class="btn form-submit-btn"
                                        data-ng-click="isEditFormValid(appointmentForm.$valid);">Update
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn form-cancel-btn"
                                        type="reset"
                                        data-ng-click="hideForm()">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- col for form content ends -->
    </div>

    <!-- col for block form content -->
    <div class="col-sm-4 right-content-block" ng-show="form.showBlockForm">
        <!-- row for form content -->
        <div class="row form-row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-sm form-submit-btn" data-ng-click="hideBlockForm()"
                        ng-disabled="">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
            </div>

            <div class="col-sm-6 col-sm-offset-1">
                <h5 class="form-title" style="font-weight: bold">[[formTitle]]</h5>
            </div>
        </div>
        <div class="row form-row form-content-row">
            <div class="col-sm-12 add-appt-formgrp">
                <form class="form-horizontal form-animation" id="edit-form-patients" name="blockForm" novalidate
                      ng-show="!isHidden">
                    <div class="form-group col-sm-12 add-appt-formgrp right-block">
                        <a ng-href="#/" class="suggest-time-badge"
                           ng-click="openBlockedTimeSlotListModal('lg')">
                            <i class="fa fa-search-plus" style="font-size: 13pt;"></i> View appointments blocked</a>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp form-animation">

                        <label class="control-label">Doctor</label>

                        <div ng-class="{'has-error': blockForm.doctorToBlock.$invalid && (blockForm.doctorToBlock.$touched || blockForm.$submitted)}">
                            <select class="form-control" ng-options="doc as doc.name for doc in listOfDoctors"
                                    ng-model="blockFields.doctorToBlock" name="doctorToBlock"
                                    required>
                            </select>

                            <div ng-show="blockForm.doctorToBlock.$invalid && (blockForm.doctorToBlock.$touched || blockForm.$submitted)"
                                 class="help-block">
                                Please select a doctor
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-7 date-div form-animation">

                                <label class="control-label">Start Date</label>

                                <div ng-class="{'has-error': blockForm.blockDateStart.$invalid && (blockForm.blockDateStart.$touched || blockForm.$submitted)}">
                                    <p class="input-group">
                                        <input type="text"
                                               class="form-control date-input-field"
                                               datepicker-popup="[[ format ]]"
                                               name="blockDateStart"
                                               ng-model="blockFields.blockDateStart"
                                               is-open="datepickers.showDatePicker"
                                               min-date="minDate"
                                               datepicker-options="dateOptions"
                                               show-button-bar="false"
                                               ng-change="formatBlockStartDate()"
                                               ng-disabled="true"
                                               date-disabled="disabled(date, mode)"
                                               required/>

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event,'showDatePicker')">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </p>

                                    <div ng-show="blockForm.blockDateStart.$invalid && (blockForm.blockDateStart.$touched || blockForm.$submitted)"
                                         class="help-block">
                                        Invalid Date
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 form-animation" date-div>

                                <label class="control-label">Start Time</label>

                                <div ng-class="{'has-error': blockForm.blockTimeStart.$invalid && (blockForm.blockTimeStart.$touched || blockForm.$submitted)}">
                                    <select class="form-control" ng-options="appt for appt in operationTimings"
                                            data-ng-model="blockFields.blockTimeStart" name="blockTimeStart"
                                            required>
                                    </select>

                                    <div ng-show="blockForm.blockTimeStart.$invalid && (blockForm.blockTimeStart.$touched || blockForm.$submitted)"
                                         class="help-block">
                                        Invalid time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp">
                        <div class="row">
                            <div class="col-sm-7 date-div form-animation">

                                <label class="control-label">End Date</label>

                                <div ng-class="{'has-error': blockForm.blockDateEnd.$invalid && (blockForm.blockDateEnd.$touched || blockForm.$submitted)}">
                                    <p class="input-group">
                                        <input type="text"
                                               class="form-control date-input-field"
                                               datepicker-popup="[[ format ]]"
                                               name="blockDateEnd"
                                               ng-model="blockFields.blockDateEnd"
                                               is-open="datepickers.showDatePicker2"
                                               min-date="minDate"
                                               datepicker-options="dateOptions"
                                               show-button-bar="false"
                                               ng-change="formatBlockEndDate()"
                                               ng-disabled="true"
                                               date-disabled="disabled(date, mode)"
                                               required/>

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event,'showDatePicker2')">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </p>

                                    <div ng-show="blockForm.blockDateEnd.$invalid && (blockForm.blockDateEnd.$touched || blockForm.$submitted)"
                                         class="help-block">
                                        Invalid Date
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 form-animation" date-div>

                                <label class="control-label">End Time</label>

                                <div ng-class="{'has-error': blockForm.blockTimeEnd.$invalid && (blockForm.blockTimeEnd.$touched || blockForm.$submitted)}">
                                    <select class="form-control" ng-options="appt for appt in operationTimings"
                                            data-ng-model="blockFields.blockTimeEnd" name="blockTimeEnd"
                                            required>
                                    </select>

                                    <div ng-show="blockForm.blockTimeEnd.$invalid && (blockForm.blockTimeEnd.$touched || blockForm.$submitted)"
                                         class="help-block">
                                        Invalid time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp form-animation">
                        <div class="checkbox" style="padding-left: 18px;">
                            <input type="checkbox" ng-model="blockFields.blockFullDayFlag"
                                   ng-change="blockDay(blockFields.blockFullDayFlag)"><h5 style="margin-top: 8px">Block
                            entire day</h5>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp form-animation">
                        <label class="control-label">Remarks</label>

                        <textarea class="form-control" rows="3" data-ng-model="blockFields.blockFormRemarks"
                                  name="blockFormRemarks">
                        </textarea>
                    </div>

                    <div class="form-group col-sm-12 add-appt-formgrp"
                         ng-show="form.showBlcokButtons.createBlockForm">
                        <div class="row subcontent-row">
                            <div class="col-sm-1">
                                <button class="btn btn-default btn-sm"
                                        data-ng-click="clearBlockForm()"
                                        type="reset"><img class="reset-icon">
                                </button>
                            </div>
                            <div class="col-sm-3 col-sm-offset-2" style="padding-right: 10%">
                                <button class="btn form-submit-btn"
                                        data-ng-click="isBlockFormValid(blockForm.$valid)">Block Off Time
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-2">
                                <button class="btn form-cancel-btn"
                                        type="reset"
                                        data-ng-click="hideBlockForm()">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- button group for edit and delete -->
                    <div class="form-group col-sm-12 add-appt-formgrp"
                         ng-show="form.showBlcokButtons.editBlockForm">
                        <div class="row subcontent-row">
                            <div class="col-sm-1">
                                <button class="btn btn-default"
                                        data-ng-click="openDeleteBlockedFormModal()"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-4">
                                <button class="btn form-submit-btn"
                                        data-ng-click="isEditBlockFormValid(blockForm.$valid)">Update
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <button class="btn form-cancel-btn"
                                        type="reset"
                                        data-ng-click="hideBlockForm()">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- col for form content ends -->
        </div>
    </div>
</div>

<treasure-overlay-spinner active='spinner.active'>
</treasure-overlay-spinner>

<!-- row for entire app content ends-->
<div class="clearfix"></div>

<script type="text/ng-template" id="myCreateModalContent.html">
    <div class="modal-header" style="height: 60px">
        <h3 class="modal-title">Confirm creation of appointment?</h3>
    </div>

    <div class="modal-body">
        <ul style="list-style: none">
            <li><label class="modal-label">Appointment Type</label><label class="colon-label">:</label> [[patientDetails.appointmentType.name]]</li>
            <li><label class="modal-label">Contact No</label><label class="colon-label">:</label> [[patientDetails.patientContact]]</li>
            <li><label class="modal-label">Patient Name</label><label class="colon-label">:</label> [[patientDetails.patientName]]</li>
            <li><label class="modal-label">Date </label><label class="colon-label">: </label>[[patientDetails.appointmentDate | dateFilter:'longDate']]</li>
            <li><label class="modal-label">Time </label><label class="colon-label"> :</label> [[patientDetails.appointmentTime]]</li>
            <li ng-show="patientDetails.hasWaitList"><label class="modal-label">Waiting List Date</label><label class="colon-label">:</label> [[patientDetails.waitingDate]]</li>
            <li ng-show="patientDetails.hasWaitList"><label class="modal-label">Waiting List Time</label><label class="colon-label">:</label>[[patientDetails.waitingTime]]</li>
            <li><label class="modal-label">Doctor </label><label class="colon-label">:</label> [[patientDetails.doctorAssigned.name]]</li>
            <li><label class="modal-label">Marketing Channel </label><label class="colon-label">:</label> [[patientDetails.marketingChannel.name]]</li>
            <li><label class="modal-label">Remarks </label><label class="colon-label">:</label> [[patientDetails.appointmentRemarks]]</li>
            <li><label class="modal-label">SMS Opt Out </label><label class="colon-label">:</label> [[patientDetails.smsOptOut]]</li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" type="button"
                ng-click="createAppointment()">
            Yes
        </button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="myDeleteModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm deletion?</h3>
    </div>

    <div class="modal-body" ng-init="retrieveCancellationReasons()">
        <ul>
            <li>Appointment Type: [[patientDetails.appointmentType.name]]</li>
            <li>Contact No: [[patientDetails.patientContact]]</li>
            <li>Patient Name: [[patientDetails.patientName]]</li>
            <li>Date: [[patientDetails.appointmentDate | dateFilter:'longDate']]</li>
            <li>Time: [[patientDetails.appointmentTime]]</li>
            <li>Doctor: [[patientDetails.doctorAssigned.name]]</li>
            <li>Marketing Channel: [[patientDetails.marketingChannel.name]]</li>
            <li>Remarks: [[patientDetails.appointmentRemarks]]</li>
            <li style="display: inline-block">Reason:<select style="display: inline-block"
                                                             data-ng-model="selectedReason" class="form-control"
                                                             ng-options="reason.reason for reason in cancellationReasons"
                                                             ng-change="activateModalButtons()"></select>
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" ng-show="showModalButtons" type="button"
                ng-click="deleteAppointment()">Yes
        </button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="myUpdateModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm update?</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <p>Original Appointment</p>
                    <li>Appointment Type: [[patientDetails.originalAppointmentType]]</li>
                    <li>Contact No: [[patientDetails.originalPatientContact]]</li>
                    <li>Patient Name: [[patientDetails.originalPatientName]]</li>
                    <li>Date: [[patientDetails.originalAppointmentDate | dateFilter:'longDate']]</li>
                    <li>Time: [[patientDetails.originalAppointmentTime]]</li>
                    <li>Doctor: [[patientDetails.originalAppointmentDoctor]]</li>
                    <li>Marketing Channel: [[patientDetails.marketingChannel.name]]</li>
                    <li>Remarks: [[patientDetails.originalAppointmentRemarks]]</li>
                    <li>SMS Opt Out: [[patientDetails.originalSmsOptOut]]</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                    <p>Updated Appointment</p>
                    <li ng-class="{'fieldIsChanged' : patientDetails.typeIsChanged }">Appointment Type:
                        [[patientDetails.appointmentType.name]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.contactIsChanged}">Contact No:
                        [[patientDetails.patientContact]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.nameIsChanged}">Patient Name:
                        [[patientDetails.patientName]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.dateIsChanged}">Date:
                        [[patientDetails.appointmentDate | dateFilter:'longDate']]
                    </li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.timeIsChanged}">Time:
                        [[patientDetails.appointmentTime]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.doctorIsChanged}">Doctor:
                        [[patientDetails.doctorAssigned.name]]
                    </li>
                    <li>Marketing Channel: [[patientDetails.marketingChannel.name]]</li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.remarksIsChanged}">Remarks:
                        [[patientDetails.appointmentRemarks]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : patientDetails.smsOptOutIsChanged}">SMS Opt Out:
                        [[patientDetails.smsOptOut]]
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" type="button" ng-click="updateAppointment()">
            Yes
        </button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="myBlockedAppointmentModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Warning</h3>
    </div>

    <div class="modal-body">
        <ul>
            <li>Appointment chosen is blocked</li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" type="button" ng-click="populateDateTimeFields(appointment);">
            Continue
        </button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="myBlockedConfirmationModalContent.html">
    <form name="blockedConfirmation" novalidate>
        <div class="modal-header form-group" style="height: 60px;">
            <h3 class="modal-title">Confirm block time slot?</h3><!--<h4 class="modal-title has-error"
                                                                     ng-show="showAffectedAppointmentsWarning"> Warning!
            [[numberOfAffectedAppointments]] appointments affected</h4>-->
            <span class="warning-badge pull-right" style="float: left;" ng-show="showAffectedAppointmentsWarning">
                                    <i class="fa fa-exclamation-triangle" style="font-size: 13pt;"></i> Warning!
            [[numberOfAffectedAppointments]] appointment(s) affected</span>
        </div>

        <div class="modal-body">
            <ul style="list-style: none">
                <li><label class="modal-label">Start Date: </label> [[blockDetails.blockDateStart |
                    dateFilter:'longDate']]
                </li>
                <li><label class="modal-label">Start Time: </label> [[blockDetails.blockTimeStart]]</li>
                <li><label class="modal-label">End Date: </label> [[blockDetails.blockDateEnd | dateFilter:'longDate']]
                </li>
                <li><label class="modal-label">End Time: </label> [[blockDetails.blockTimeEnd]]</li>
                <li><label class="modal-label">Remarks: </label> [[blockDetails.blockFormRemarks]]</li>
                <li ng-show="showAffectedAppointmentsWarning"><label class="modal-label">Email Address:</label>
                    <input type="email" class="form-control" data-ng-model="emailAd" name="emailAddress"
                           ng-required="showAffectedAppointmentsWarning"
                           style="display: inline; width: 80%; padding-top: 0"></li>
            </ul>
        </div>

        <div class="modal-footer">
            <button class="btn form-submit-btn" type="button"
                    ng-show="blockedConfirmation.emailAddress.$valid || !showAffectedAppointmentsWarning"
                    ng-click="postBlockTimeSlots(blockDetails.doctorToBlock.id,
                        blockDetails.blockDateStart,
                        blockDetails.blockTimeStart,
                        blockDetails.blockDateEnd,
                        blockDetails.blockTimeEnd,
                        blockDetails.blockFormRemarks);
                        sendEmailOfAffectedAppointments(blockDetails.doctorToBlock.id,
                        blockDetails.blockDateStart,
                        blockDetails.blockTimeStart,
                        blockDetails.blockDateEnd,
                        blockDetails.blockTimeEnd,
                        emailAd)">Continue
            </button>
            <button class="btn form-cancel-btn" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>

</script>

<script type="text/ng-template" id="myBlockedTimeSlotListModal.html">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-calendar"></i> List of Blocked Timeslots</h4>
    </div>

    <div class="modal-body" ng-init="getListOfBlockedAppointments()">
        <table class="table table-striped all-blockedslots-tbl">
            <tr>
                <th>#</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Doc</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="blockedAppt in listOfBlockedAppointments">
                <td>[[$index + 1]]</td>
                <td>[[blockedAppt.start]]</td>
                <td>[[blockedAppt.end]]</td>
                <td>[[blockedAppt.doctor__name]]</td>
                <td>[[blockedAppt.remarks]]</td>
                <td><a class="edit-no-show" ng-click="populateBlockForm(blockedAppt)">
                    <i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="myUpdateBlockModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm update?</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <p>Original Blocked Time Slots</p>
                    <li>Doctor: [[blockDetails.originalBlockForm.doctor__name]]</li>
                    <li>Start Date: [[blockDetails.originalBlockForm.blockDateStart | dateFilter:'longDate']]</li>
                    <li>Start Time: [[blockDetails.originalBlockForm.blockTimeStart]]</li>
                    <li>End Date: [[blockDetails.originalBlockForm.blockDateEnd | dateFilter:'longDate']]</li>
                    <li>End Time: [[blockDetails.originalBlockForm.blockTimeEnd]]</li>
                    <li>Remarks: [[blockDetails.originalBlockForm.blockFormRemarks]]</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                    <p>Updated Blocked Time Slots</p>
                    <li ng-class="{'fieldIsChanged' : blockDetails.doctorIsChanged }">Doctor:
                        [[blockDetails.doctorToBlock.name]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : blockDetails.startDateIsChanged}">Start Date:
                        [[blockDetails.blockDateStart | dateFilter:'longDate']]
                    </li>
                    <li ng-class="{'fieldIsChanged' : blockDetails.startTimeIsChanged}">Start Time:
                        [[blockDetails.blockTimeStart]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : blockDetails.endDateIsChanged}">End Date:
                        [[blockDetails.blockDateEnd | dateFilter:'longDate']]
                    </li>
                    <li ng-class="{'fieldIsChanged' : blockDetails.endTimeIsChanged}">End Time:
                        [[blockDetails.blockTimeEnd]]
                    </li>
                    <li ng-class="{'fieldIsChanged' : blockDetails.remarksIsChanged}">Remarks:
                        [[blockDetails.blockFormRemarks]]
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" type="button" ng-click="updateBlockedTimeSlots()">Yes
        </button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="myDeleteBlockedModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm deletion?</h3>
    </div>

    <div class="modal-body">
        <ul>
            <li>Doctor: [[blockDetails.doctorToBlock.name]]</li>
            <li>Start Date: [[blockDetails.blockDateStart | dateFilter:'longDate']]</li>
            <li>Start Time: [[blockDetails.blockTimeStart]]</li>
            <li>End Date: [[blockDetails.blockDateEnd | dateFilter:'longDate']]</li>
            <li>End Time: [[blockDetails.blockTimeEnd]]</li>
            <li>Remarks: [[blockDetails.blockFormRemarks]]</li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" type="button"
                ng-click="deleteBlockTimeSlots();">Yes
        </button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<!--
<script>
    $('.cal-view-btn').click(function (e) {
        $('.cal-view-btn').not(this).removeClass('active');
        e.preventDefault();
        $(this).addClass('active');
    })
</script>-->



