<section class="app-content">
    <div class="top-container" ng-class="topAnimation">
        <section class="nav search-row">
            <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
            </form>
        </section>
        <section class="nav btn-row pull-right">
            <div class="btn-group-appt">
                <button class="btn btn-primary form-btn-group" id="show-form-btn" ng-click="showForm()"
                        ng-class="addBtnAnimation">
                    Add Appointment
                </button>
                <button class="btn btn-primary form-btn-group" id="block-btn">
                    Block
                </button>
            </div>
        </section>
    </div>

    <!-- CALENDAR COMES IN HERE -->
    <div class="cal-container" ng-class="calAnimation">

        <!--<section>-->
        <div class="well cal-well" style="background: #F4F4F4">
            <!-- <div class="row-fluid">
                 <div class="span4">
                     <div class="btn-group calTools">
                         <button class="btn" ng-click="changeLang()">
                             [[ changeTo ]]
                         </button>

                         <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                             Toggle Source
                         </button>

                         <button type="button" class="btn btn-primary" ng-click="addEvent()">
                             Add Event
                         </button>
                     </div>

                     <ul class="unstyled">
                         <li ng-repeat="e in events">
                             <div class="alert alert-info">
                                 <a class="close" ng-click="remove($index)"><i class="fa fa-trash"></i></a>
                                 <b><input ng-model="e.title"></b>
                                 [[ e.start | date:"MMM dd" ]] - [[ e.end | date:"MMM dd" ]]
                             </div>
                         </li>
                     </ul>
                 </div> -->

            <div>
                <tabset>
                    <tab select="renderCalendar('drHoCalendar');"
                         ng-init="getDrHoScreenings(); getDrHoPreEvaluations(); getDrHoSurgeries();">
                        <tab-heading>
                            <i class="fa fa-calendar tab-head-icon"></i>

                            <div class="tab-head-text">Doctor Ho</div>
                        </tab-heading>

                        <!--<div class="alert-success calAlert"
                             ng-show="alertMessage != undefined && alertMessage != '' ">
                            <h4>[[ alertMessage ]]</h4>
                        </div>-->

                        <div class="btn-toolbar cal-btn-group">

                            <div class="btn-group">
                                <button class="btn btn-success cal-view-btn"
                                        ng-click="changeView('agendaDay', 'myCalendar1')">
                                    Day
                                </button>
                                <button class="btn btn-success cal-view-btn"
                                        ng-click="changeView('agendaWeek', 'myCalendar1')">
                                    Week
                                </button>
                                <button class="btn btn-success cal-view-btn"
                                        ng-click="changeView('month', 'myCalendar1')">
                                    Month
                                </button>
                            </div>
                        </div>
                        <div class="calendar" ng-model="doctorHoAppointments" calendar="myCalendar1"
                             ui-calendar="uiConfig.calendar" id="drHoCalendar"></div>

                    </tab>

                    <tab select="renderCalendar('drGohCalendar');"
                         ng-click="getDrGohScreenings(); getDrGohPreEvaluations(); getDrGohSurgeries();">
                        <tab-heading>
                            <i class="fa fa-calendar tab-head-icon"></i>

                            <div class="tab-head-text">Doctor Goh</div>
                        </tab-heading>

                        <div class="alert-success calAlert"
                             ng-show="alertMessage != undefined && alertMessage != '' ">
                            <h4>[[ alertMessage ]]</h4>
                        </div>

                        <div class="btn-toolbar cal-btn-group">

                            <div class="btn-group">
                                <button class="btn btn-success cal-view-btn"
                                        ng-click="changeView('agendaDay', 'myCalendar2')">
                                    Day
                                </button>
                                <button class="btn btn-success cal-view-btn"
                                        ng-click="changeView('agendaWeek', 'myCalendar2')">
                                    Week
                                </button>
                                <button class="btn btn-success cal-view-btn"
                                        ng-click="changeView('month', 'myCalendar2')">
                                    Month
                                </button>
                            </div>
                        </div>

                        <div class="calendar" ng-model="doctorGohAppointments" calendar="myCalendar2"
                             ui-calendar="uiConfig.calendar" id="drGohCalendar"></div>
                    </tab>

                </tabset>
            </div>
            <!--<div class="cal-appt-legend">
                <ul class="legend-ul">
                    <li><a href="#" data-ng-click=""><i class="fa fa-stop legend1"></i>&nbsp;Pre-Eval</a></li>
                    <li><a href="#" data-ng-click=""><i class="fa fa-stop legend2"></i>&nbsp;Screening</a></li>
                    <li><a href="#" data-ng-click=""><i class="fa fa-stop legend3"></i>&nbsp;Lasik</a></li>
                    <li><a href="#" data-ng-click=""><i class="fa fa-stop legend4"></i>&nbsp;Follow-up</a></li>
                </ul>

            </div>-->

        </div>
        <!--</section>-->

    </div>

    <div class="form-container" ng-class="formAnimation">

        <div class="form-div pull-left">
            <div class="form-div-header">
                <a href="#/" data-ng-click="hideForm()" id="hide-form-btn"><i
                        class="fa fa-chevron-right fa-lg pull-left"></i></a>
                <h5 id="form-title" style="font-weight: bold">[[formTitle]]</h5>
            </div>

            <div class="form-div-body">
                <form class="form-horizontal" id="edit-form-patients">
                    <div class="form-group col-md-12" ng-show="showPatientList">
                        <label class="control-label">Patient List</label>
                        <select class="form-control" data-ng-model="appointmentPatient"
                                ng-change="populatePatientDetails()">
                            <option ng-repeat="patient in patientList">
                                [[patient.name]]
                            </option>
                        </select>

                        <div style="color:red" ng-if="appointmentPatient.length === 0">
                            [[remarkWarning]]
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Appointment Type</label>
                        <select class="form-control" ng-options="appt for appt in appointmentType.list"
                                ng-model="appointmentType.value">
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-8 date-div">
                                <label class="control-label">Date</label>

                                <p class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="[[ format ]]"
                                           name="datePickerCalendar"
                                           ng-model="apptDateTime"
                                           is-open="datepickers.showDatePicker"
                                           min-date="minDate"
                                           datepicker-options="dateOptions"
                                           show-button-bar="false"
                                            />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="open($event,'showDatePicker')">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                </p>

                            </div>

                            <div class="col-md-4" date-div>
                                <label class="control-label">Time</label>
                                <select class="form-control" ng-options="appt for appt in appointmentTime.list"
                                        data-ng-model="appointmentTime.value">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-6 name-div">
                                <label class="control-label">Patient Name</label>
                                <input type="text" class="form-control" data-ng-model="patientName"
                                       ng-disabled="disablePatientNameInput">
                            </div>

                            <div class="col-md-6 contact-div">
                                <label class="control-label">Contact No.</label>
                                <input type="text" class="form-control" data-ng-model="patientContact"
                                       ng-disabled="disablePatientContactInput">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label">Doctor</label>

                        <div class="row">
                            <div class="radio col-md-6 doc-div">
                                <label><input type="radio" data-ng-model="doctorAssigned" value="2"
                                              ng-disabled="disableAssignedDoctorInput">
                                    Dr.Ho
                                </label>
                            </div>
                            <div class="radio col-md-6 doc-div">
                                <label><input type="radio" data-ng-model="doctorAssigned" value="1"
                                              ng-disabled="disableAssignedDoctorInput">
                                    Dr.Goh
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label">Marketing Channel</label>
                        <select class="form-control" data-ng-model="marketingChannel"
                                ng-disabled="disableMktgChannelInput">
                            <option ng-repeat="mktChannel in listOfMarketingChannels">
                                [[mktChannel]]
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label">Remarks</label>
                                <textarea class="form-control" rows="3" data-ng-model="appointmentRemarks"
                                          placeholder="Optional">
                                </textarea>
                    </div>

                    <div class="form-group col-md-12 form-appt-btns">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <button class="btn btn-primary"
                                        data-ng-click="postAppointment();"
                                        ng-show="showSubmitButton">Submit
                                </button>
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <button class="btn btn-primary"
                                        data-ng-click="postAppointment();"
                                        ng-show="showEditButton">Edit
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary"
                                        data-ng-click="hideForm()">Cancel
                                </button>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <button class="btn btn-warning"
                                        data-ng-click="deleteAppointment()"
                                        ng-show="showDeleteButton">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>