<!-- row for entire app content-->
<div class="row content-row">
    <!-- col for side content-->
    <div class="col-sm-1 side-menu-col">
        <!--row for 1st side menu-->
        <div class="row side-menu-row1">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <i class="fa fa-eye fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <a href="#" ng-click=""><h5>Overview</h5></a>
                    </div>
                </div>-->
            </div>
        </div>
        <!--row for 2nd side menu-->
        <div class="row side-menu-row2">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <i class="fa fa-area-chart fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <a href="#" ng-click=""><h5>Marketing</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <!--row for 3rd side menu-->
        <div class="row side-menu-row3">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <i class="fa fa-calendar fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" ng-click=""><h5>Appointments</h5></a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="col-sm-11">
        <div class="row filter-collapse-row">
            <div class="col-sm-2 col-sm-offset-10" style="text-align: right">
                <button class="btn btn-default" data-ng-click="isCollapsed = !isCollapsed">Filter</button>
            </div>
        </div>
        <!--row for filter content-->
        <div class="row filter-row-hide" ng-show="!isCollapsed">
            <div class="col-sm-2">
                <div class="row">
                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="[[ format ]]"
                               name="datePickerCalendar"
                               ng-model=""
                               is-open="datepickers.showDatePicker"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-change="navigateToDate()"
                               placeholder="Start Date"
                                />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="open($event,'showDatePicker')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-sm-offset-4">
                        <h5>To</h5>
                    </div>
                </div>
                <div class="row">

                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="[[ format ]]"
                               name="datePickerCalendar"
                               ng-model=""
                               is-open="datepickers.showDatePicker"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-change="navigateToDate()"
                               placeholder="End Date"
                                />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="open($event,'showDatePicker')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>


            </div>
            <div class="col-sm-1" style="text-align: center">
                <h4 style="margin-top: 50px;">OR</h4>
            </div>
            <div class="col-sm-2">
                <select class="form-control" data-ng-model="fields.appointmentTime" name="appointmentTime" required>
                    <option value="" selected="selected">July</option>
                    <option value="" selected="selected">June</option>
                    <option value="" selected="selected">May</option>
                    <option value="" selected="selected">Last 3 Months</option>
                </select>
            </div>
            <div class="col-sm-3 dashboard-filter-mrkt">
                <select class="form-control" data-ng-model="filters.marketingChannel"
                                ng-options="" name="marketingChannel" required>
                    <option value="" selected="selected">Marketing Channel</option>
                    </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default" ng-click="">Go
        </button>
            </div>
        </div>
        <!--row for main chart content-->
        <div class="row charts-row1">
            <div class="col-sm-12">
                <div id="chart1" ng-init="showMarketingChart([]); initializeChart();"></div>
            </div>
        </div>
        <!--row for other charts content-->
        <div class="row charts-row4">
            <div class="col-sm-6">
                <div id="timeChart" ng-init="showTimelineChart([]); getMarketingTimeline();"></div>
            </div>
        </div>


    </div>

</div>