<!-- row for entire app content-->
<div class="row content-row">
    <!-- col for side content-->
    <div class="col-sm-1 side-menu-col">
        <!--row for 1st side menu-->
        <div class="row side-menu-row1">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <i class="fa fa-eye fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <a href="#" ng-click=""><h5>Overview</h5></a>
                    </div>
                </div>-->
            </div>
        </div>
        <!--row for 2nd side menu-->
        <div class="row side-menu-row2">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <i class="fa fa-area-chart fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <a href="#" ng-click=""><h5>Marketing</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <!--row for 3rd side menu-->
        <div class="row side-menu-row3">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <i class="fa fa-calendar fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" ng-click=""><h5>Appointments</h5></a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="col-sm-11">
        <!--row for title content-->
        <div class="row charts-row1">
            <h4>Marketing Dashboard</h4>
        </div>
        <!--row for filter content-->
        <div class="row chars-row2">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <!--row for main chart content-->
        <div class="row charts-row3">

        </div>
        <!--row for other charts content-->
        <div class="row charts-row4">

        </div>


    </div>

</div>