<!-- row for entire app content-->
<div class="row content-row">
    <!-- col for side content-->

    <div class="col-sm-11 mrkt-db-main">
        <div class="row filter-collapse-row">
            <div class="col-sm-2 col-sm-offset-10" style="text-align: right">
                <button class="btn btn-default" data-ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed">
                    Filter
                </button>
            </div>
        </div>
        <!--row for filter content-->
        <div class="row filter-row-hide" ng-show="!isCollapsed">
            <div class="col-sm-12 filter-row-title">
                <div class="row">
                    <div class="col-sm-11">
                        <h5>Filter Options</h5>
                    </div>
                    <div class="col-sm-1 filter-row-close">
                        <a data-ng-click="isCollapsed = !isCollapsed"><h5><i class="fa fa-times"></i></h5></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 filter-row-options">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="[[ format ]]"
                                       name="datePickerCalendar"
                                       ng-model="datepicker"
                                       is-open="datepickers.showDatePicker"
                                       min-date="minDate"
                                       datepicker-options="dateOptions"
                                       show-button-bar="false"
                                       ng-change="navigateToDate()"
                                       placeholder="Start Date"
                                        />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="open($event,'showDatePicker')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-4">
                                <h5>To</h5>
                            </div>
                        </div>
                        <div class="row">

                            <p class="input-group">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="[[ format ]]"
                                       name="datePickerCalendar"
                                       ng-model="datepicker2"
                                       is-open="datepickers.showDatePicker2"
                                       min-date="minDate"
                                       datepicker-options="dateOptions"
                                       show-button-bar="false"
                                       ng-change="navigateToDate()"
                                       placeholder="End Date"
                                        />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="open($event,'showDatePicker2')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                            </p>
                        </div>


                    </div>
                    <div class="col-sm-1" style="text-align: center">
                        <h4 style="margin-top: 50px;">OR</h4>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" data-ng-model="monthData" name="appointmentTime"
                                ng-options="mth for mth in months" ng-change="changeMonthData()">
                        </select>
                    </div>
                    <div class="col-sm-3 dashboard-filter-mrkt">
                        <!--<select class="form-control" data-ng-model="filters.marketingChannel"
                                ng-options="" name="marketingChannel" required>
                            <option value="" selected="selected">Marketing Channel</option>
                        </select>-->
                        <label class="control-label">Marketing Channel</label>
                        <select name="users" multiple class="form-control">
                            <option ng-selected="channel.selected" ng-repeat="channel in channels"
                                    value="{{ channel.name }}">[[ channel.name ]]</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" ng-click="filterChart()">Go
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--row for main chart content-->
        <div class="row charts-row1">
            <div class="col-sm-12 dashboard-chart-mrkt">
                <div id="chart1" ng-init="showMarketingChart([]); initializeChart();"></div>
            </div>
        </div>
        <!--row for other charts content-->
        <div class="row charts-row1">
            <div class="col-sm-12 dashboard-chart-mrkt">
                <div id="timeChart" ng-init="showTimelineChart([]); getMarketingTimeline();"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>