<div class="row dashboard-content-row" style="padding-top: 10%">
    <!-- col for expenditure summary table -->
    <div class="col-md-9">
        <div class="row chart-title-row">
            <div class="col-md-4">
                <h5 class="label-color"><i class="fa fa-list-alt"></i> Expenditure Summary</h5>
            </div>
            <div class="col-md-2">
                <select class="form-control" data-ng-model="expenditureYear" ng-options="year for year in years"
                        ng-change="updateTable()">
                    <option value="" disabled selected class="dropdown-default-option">Year</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" data-ng-model="expenditureMonth" ng-options="mth for mth in months"
                        ng-change="updateTable()">
                    <option value="" disabled selected class="dropdown-default-option">Month</option>
                </select>
            </div>
        </div>
        <div class="row expenditure-table-row">
            <div class="col-md-12">
                <table class="table table-striped expenditure-main-tbl">
                    <tr>
                        <th>S/N</th>
                        <th>Marketing Channel</th>
                        <th>Spent</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    <tr ng-repeat="channel in filteredChannels">
                        <td>[[$index + 1]]</td>
                        <td>[[channel.name]]</td>
                        <td>[[channel.cost]]</td>
                        <td><a class="pull-right edit-no-show"
                               ng-click="">
                            <i class="fa fa-pencil-square-o"></i></a></td>
                        <td><a class="remove-from-queue"
                               ng-click="">
                            <i class="fa fa-times"></i></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12" style="text-align: center">
                <pagination
                        ng-model="currentPage"
                        total-items="marketingChannels.length"
                        boundary-links="false">
                </pagination>
                <!--<div class="col-md-4" style="text-align: right">
                    <h4><span class="label total-spent-label"
                              style="display: inline-block">Total Spent: <span
                            class="totalSpent-label"> $2,200</span></span>
                    </h4>
                </div>-->
            </div>
        </div>
    </div>
    <!-- col for expenditure summary table ends -->
    <!-- col for input and month filter -->
    <div class="col-md-3">
        <div class="row chart-title-row">
            <div class="col-md-12">
                <h5 class="label-color"><i class="fa fa-calculator"></i> Add Expenditure</h5>
            </div>
        </div>
        <div class="row expenditure-table-row">
            <div class="col-md-12">
                <form class="form-horizontal" name="expenditureForm" novalidate>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Year:</label>
                        </div>
                        <div class="col-md-9" ng-show="channelDropdown">
                            <select class="form-control"
                                    ng-options="year for year in years"
                                    data-ng-model="yearInput" name="year" required>
                            </select>

                            <div ng-show="expenditureForm.year.$invalid && (expenditureForm.year.$touched || expenditureForm.$submitted)"
                                 class="help-block">
                                Please select a year
                            </div>
                        </div>
                    </div>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Month:</label>
                        </div>
                        <div class="col-md-9" ng-show="channelDropdown">
                            <select class="form-control"
                                    ng-options="mth for mth in months"
                                    data-ng-model="monthInput" name="month">
                            </select>
                        </div>
                    </div>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Channel:</label>
                        </div>
                        <div class="col-md-9" ng-show="channelDropdown" ng-init="getMarketingChannels();">
                            <select class="form-control"
                                    ng-options="channel as channel.name for channel in listOfMarketingChannels"
                                    data-ng-model="expenditureChannel" name="expenditureChannel">
                            </select>
                        </div>
                        <div class="col-md-9" ng-show="channelTextbox">
                            <input type="text" class="form-control" data-ng-model="expenditureChannel"
                                   name="spentAmt" placeholder="Enter new channel"
                                   required>
                        </div>
                    </div>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Amount:</label>
                        </div>
                        <div class="col-md-9">
                            <!--<input type="text" class="form-control" data-ng-model="spentAmt"
                                   name="spentAmt"
                                   required>-->
                            <form class="form-expenditure-amt form-inline">
                                <input type="text" style="padding-left: 26px;" class="form-control"
                                       data-ng-model="expenditureSpent"/>
                            </form>
                        </div>
                    </div>
                    <div class="row endcontent-row">
                        <div class="col-md-3" ng-show="newChannelBtn">
                            <button class="btn form-cancel-btn" data-ng-click="showAddNewChannel()"><i
                                    class="fa fa-plus-square"></i> New Channel
                            </button>
                        </div>
                        <div class="col-md-3" ng-show="selectChannelBtn">
                            <button class="btn form-cancel-btn" data-ng-click="showSelectChannel()">Existing Channels
                            </button>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                            <button class="btn form-submit-btn"
                                    ng-click="addMarketingExpenditures(yearInput, monthInput, expenditureChannel.name, expenditureSpent)">
                                Add New
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- col for input and month filter ends -->
</div>