<div class="row dashboard-content-row">
    <!-- col for expenditure summary table -->
    <div class="col-md-9">
        <div class="row chart-title-row">
            <div class="col-md-4">
                <h5 class="label-color"><i class="fa fa-list-alt"></i> Expenditure Summary</h5>
            </div>
            <div class="col-md-2">
                <select class="form-control" data-ng-model="expenditureYear" ng-options="year for year in years"
                        ng-change="updateTable()">
                    <option value="" disabled selected class="dropdown-default-option">Year</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" data-ng-model="expenditureMonth" ng-options="mth for mth in months"
                        ng-change="updateTable()">
                    <option value="" disabled selected class="dropdown-default-option">Month</option>
                </select>
            </div>
        </div>
        <div class="row expenditure-table-row">
            <div class="col-md-12">
                <table class="table table-striped expenditure-main-tbl">
                    <tr>
                        <th>Marketing Channel</th>
                        <th>Spent</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    <tr ng-repeat="channel in filteredChannels">
                        <td>[[channel.name]]</td>
                        <td>[[channel.cost]]</td>
                        <td><a class="edit-opt-hr pull-right"
                               popover-template="marketingChannelPopover[$index].editMarketingExpenditure.templateUrl"
                               popover-title="Edit Marketing Expenditure"
                               data-ng-click="marketingChannelPopover[$index].editMarketingExpenditure.open($index, channel.name, channel.cost, channel.id)"
                               popover-placement="bottom"
                               popover-is-open="marketingChannelPopover[$index].editMarketingExpenditure.isOpen">
                            <i class="fa fa-pencil-square-o"></i> Edit</a>
                        </td>
                        <td><a class="remove-from-queue"
                               ng-click="removeMarketingChannel(channel.id)">
                            <i class="fa fa-times"></i></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12" style="text-align: center">
                <pagination
                        ng-model="currentPage"
                        total-items="marketingChannels.length"
                        boundary-links="false">
                </pagination>
            </div>
        </div>
    </div>
    <!-- col for expenditure summary table ends -->
    <!-- col for input and month filter -->
    <div class="col-md-3">
        <div class="row chart-title-row">
            <div class="col-md-12">
                <h5 class="label-color"><i class="fa fa-calculator"></i> Add Expenditure</h5>
            </div>
        </div>
        <div class="row expenditure-table-row">
            <div class="col-md-12">
                <form class="form-horizontal" name="expenditureForm" novalidate>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Year:</label>
                        </div>
                        <div class="col-md-9"
                             ng-class="{'has-error': expenditureForm.year.$invalid && (expenditureForm.year.$touched || expenditureForm.$submitted)}">
                            <select class="form-control"
                                    ng-options="year for year in years"
                                    data-ng-model="expenditure.yearInput" name="year" required>
                            </select>

                            <div ng-show="expenditureForm.year.$invalid && (expenditureForm.year.$touched || expenditureForm.$submitted)"
                                 class="help-block">
                                Please select a year
                            </div>
                        </div>
                    </div>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Month:</label>
                        </div>
                        <div class="col-md-9"
                             ng-class="{'has-error': expenditureForm.month.$invalid && (expenditureForm.month.$touched || expenditureForm.$submitted)}">
                            <select class="form-control"
                                    ng-options="mth for mth in months"
                                    data-ng-model="expenditure.monthInput" name="month" required>
                            </select>

                            <div ng-show="expenditureForm.month.$invalid && (expenditureForm.month.$touched || expenditureForm.$submitted)"
                                 class="help-block">
                                Please select a month
                            </div>
                        </div>
                    </div>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Channel:</label>
                        </div>
                        <div class="col-md-9"
                             ng-class="{'has-error': expenditureForm.expenditureChannel.$invalid && (expenditureForm.expenditureChannel.$touched || expenditureForm.$submitted)}">

                            <input type="text" class="form-control" data-ng-model="expenditure.expenditureChannel"
                                   name="expenditureChannel" placeholder="Enter channel name" autocomplete="off"
                                   required>

                            <div ng-show="expenditureForm.expenditureChannel.$invalid && (expenditureForm.expenditureChannel.$touched || expenditureForm.$submitted)"
                                 class="help-block">
                                Please enter a channel
                            </div>
                        </div>
                    </div>
                    <div class="row subcontent-row">
                        <div class="col-md-3">
                            <label class="control-label label-color">Cost:</label>
                        </div>
                        <div class="col-md-9"
                             ng-class="{'has-error': expenditureForm.amt.$invalid && (expenditureForm.amt.$touched || expenditureForm.$submitted)}">

                            <input type="number" class="form-control" autocomplete="off"
                                   data-ng-model="expenditure.expenditureSpent" name="amt" required/>

                            <div ng-show="expenditureForm.amt.$invalid && (expenditureForm.amt.$touched || expenditureForm.$submitted)"
                                 class="help-block">
                                Please enter a cost
                            </div>
                        </div>
                    </div>
                    <div class="row endcontent-row"><!--test-->
                        <div class="col-md-12 right-block">
                            <button class="btn form-cancel-btn" data-ng-click="clearForm()">Clear
                            </button>
                            <button class="btn form-submit-btn"
                                    ng-click="addMarketingExpenditures(expenditure.yearInput, expenditure.monthInput, expenditure.expenditureChannel, expenditure.expenditureSpent, expenditureForm.$valid)">
                                Add New
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- col for input and month filter ends -->
    </div>
</div>

<treasure-overlay-spinner active='spinner.active'>
</treasure-overlay-spinner>

<script type="text/ng-template" id="editMarketingExpenditureTemplate.html">
    <form name="updateExpenditureForm" novalidate>
        <div class="form-group">
            <label>Marketing Channel:</label>

            <div ng-class="{'has-error': updateExpenditureForm.marketingChannelName.$invalid && (updateExpenditureForm.marketingChannelName.$touched || updateExpenditureForm.$submitted)}">
                <input type="text" class="form-control " data-ng-model="popoverChannelName" name="marketingChannelName"
                       autocomplete="off" required/>

                <div ng-show="updateExpenditureForm.marketingChannelName.$invalid && (updateExpenditureForm.marketingChannelName.$touched || updateExpenditureForm.$submitted)"
                     class="help-block">
                    Please enter a channel
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Expenditure Cost:</label>

            <div ng-class="{'has-error': updateExpenditureForm.expenditureCost.$invalid && (updateExpenditureForm.expenditureCost.$touched || updateExpenditureForm.$submitted)}">
                <input type="number" class="form-control " data-ng-model="popoverChannelCost" name="expenditureCost"
                       autocomplete="off" required/>

                <div ng-show="updateExpenditureForm.expenditureCost.$invalid && (updateExpenditureForm.expenditureCost.$touched || updateExpenditureForm.$submitted)"
                     class="help-block">
                    Please enter a cost
                </div>
            </div>
        </div>
        <div class="right-block">
            <button class="btn-sm form-submit-btn"
                    data-ng-click="updateMarketingExpenditure(updateExpenditureForm.$valid, popoverChannelName, popoverChannelCost, popoverChannelId)">
                Update
            </button>
            <button class="btn-sm form-cancel-btn"
                    data-ng-click="marketingChannelPopover[popoverIndex].editMarketingExpenditure.close(popoverIndex)">
                Cancel
            </button>
        </div>
    </form>
</script>