<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="waitListCtrl" ng-init="getNotifications()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/"><img id="navbar-logo" class="img-responsive"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-init="getNumberOfSwappableAppointments()">
            <ul class="nav navbar-nav" id="topmenu">
                <li ng-class="{active: $route.current.activetab == ''}"><a href="#" ng-href="#/"><i
                        class="fa fa-calendar"></i> Calendar</a></li>
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li ng-class="{active: $route.current.activetab == 'waitlist'}"><a href="#" ng-href="#/waitlist"><i
                        class="fa fa-exchange"></i> Swap List <span
                        class="badge notification-badge-green">[[noOfSwappableAppts]]
                    </span></a></li>
                <!-- <li><a href="/Clearvision/admin"><i class="fa fa-cogs"></i> Admin</a></li> -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" ng-href="#/dashboard/conversion"><i
                        class="fa fa-bar-chart"></i> Dashboard <b class="caret"></b></a>
                    <ul class="list-inline dashboard-submenu">
                        <li ng-class="{active: $route.current.activetab == 'dashboard/schedule'}"><a
                                href="#/dashboard/schedule">Appointments Scheduled</a></li>
                        <li ng-class="{active: $route.current.activetab == 'dashboard/conversion'}"><a
                                href="#/dashboard/conversion">Conversion Analysis</a></li>
                        <li ng-class="{active: $route.current.activetab == 'dashboard/roi'}"><a href="#/dashboard/roi">ROI
                            Analysis</a></li>
                        <li ng-class="{active: $route.current.activetab == 'dashboard/expenditure'}"><a
                                href="#/dashboard/expenditure">Expenditure Form</a></li>
                        <li ng-class="{active: $route.current.activetab == 'dashboard/managechannels'}"><a
                                href="#/dashboard/managechannels">Manage Marketing Channels</a></li>
                    </ul>
                </li>
                <li ng-class="{active: $route.current.activetab == 'queue'}"><a href="#" ng-href="#/queue"><i
                        class="fa fa-user-times"></i> Manage Q</a></li>

                <li ng-class="{active: $route.current.activetab == 'adminconfig'}"><a href="#" ng-href="#/adminconfig"><i
                        class="fa fa-gears"></i> Settings</a></li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" ng-href="#/dashboard"><i class="fa fa-bar-chart"></i> Dashboard<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Marketing Channel</a></li>
                        <li><a href="#">Appointments</a></li>
                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="">Welcome, {{ user }}</a>
                </li>-->

                <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">Welcome, {{ user }}</a>
                    <ol class="dropdown-menu">
                        <li><a href="#" ng-href="#/changepw">Change Password</a></li>
                    </ol>
                </li>
                <li class="dropdown"><a href="#/" class="dropdown-toggle" target="_self"
                                        ng-href="#/msglog" ng-href="#/msglog"><i
                        class="fa fa-envelope"></i>
                </a>
                    <!--<ol class="dropdown-menu">
                         <li style="color: #1859A8"><h6>&nbsp;You have 1 New Message!</h6></li>
                        <li><a href="#/waitlist" ng-repeat="notification in notificationList">[[notification.patientname]]
                            can be swapped!</a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="msg-viewall-link" href="#" >View All</a></li>
                    </ol>-->
                </li>
                <!-- <li><a href="#"><i id="navbar-print-icon" class="fa fa-print"></i></a></li> -->
                <li><a href="/Clearvision/logout">Log out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--navbar end-->

<script>
    $('#topmenu li a').click(function (e) {

        if ($(this).parent().attr('class') === "dropdown") {
            $(this).parent().addClass('selected');
        }
        else {
            $('#topmenu li.dropdown').removeClass('selected')
        }
    });
    $('li.dropdown ul li').click(function (e) {

        $(this).parent().parent().addClass('selected');

    });
</script>

<!-- template for notification messages -->
<script type="text/ng-template" id="angular-notify.html">
    <div class="cg-notify-message" ng-class="[$classes,
        $position === 'center' ? 'cg-notify-message-center' : '',
        $position === 'left' ? 'cg-notify-message-left' : '',
        $position === 'right' ? 'cg-notify-message-right' : '']"
         ng-style="{'margin-left': $centerMargin}">

        <div ng-show="$messageTemplate" class="cg-notify-message-template"></div>

        <button type="button" class="cg-notify-close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
            <span class="cg-notify-sr-only">Close</span>
        </button>
    </div>
</script>


