<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="waitListCtrl" ng-init="getNotifications()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/"><img id="navbar-logo" class="img-responsive"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="topmenu">
                <li><a href="#" ng-href="#/"><i class="fa fa-calendar"></i> Calendar</a></li>
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="#" ng-href="#/waitlist"><i class="fa fa-user-times"></i> Wait List</a></li>
                <!-- <li><a href="/Clearvision/admin"><i class="fa fa-cogs"></i> Admin</a></li> -->
                <li class="dropdown"><a class="drop" href="#" data-toggle="dropdown" ng-href="#/dashboard"><i
                        class="fa fa-bar-chart"></i> Dashboard <b class="caret"></b></a>
                        <ul class="list-inline dashboard-submenu">
                            <li><a href="#">Dashboard Summary</a></li>
                            <li><a href="#">Appointments Scheduled</a></li>
                            <li><a href="#">ROI Analysis</a></li>
                            <li><a href="#">Survey Results</a></li>
                        </ul>
                </li>
                <li><a href="#" ng-href="#/queue"><i class="fa fa-clock-o"></i> Queue</a></li>


                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" ng-href="#/dashboard"><i class="fa fa-bar-chart"></i> Dashboard<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Marketing Channel</a></li>
                        <li><a href="#">Appointments</a></li>
                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">Welcome, {{ user }}</a>
                    <ol class="dropdown-menu">
                        <li><a href="#" ng-href="#/changepw">Change Password</a></li>
                    </ol>
                </li>
                <li class="dropdown"><a href="#/" data-toggle="dropdown" class="dropdown-toggle" target="_self"
                                        data-ng-click="updateCount()"><i
                        class="fa fa-envelope"></i> <span class="badge"
                                                          ng-class="haveNotification? 'notification-badge-red' : 'notification-badge-grey'">[[notificationCount]]</span></a>
                    <ol class="dropdown-menu">
                        <!-- <li style="color: #1859A8"><h6>&nbsp;You have 1 New Message!</h6></li> -->
                        <li><a href="#/waitlist" ng-repeat="notification in notificationList">[[notification.patientname]]
                            can be swapped!</a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="msg-viewall-link" href="#" ng-href="#/msglog">View All</a></li>
                    </ol>
                </li>
                <!-- <li><a href="#"><i id="navbar-print-icon" class="fa fa-print"></i></a></li> -->
                <li><a href="/Clearvision/logout">Log out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--navbar end-->

<script>
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dashboard-submenu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dashboard-submenu').stop(true, true).delay(200).fadeOut(500);
    });
</script>

