<header>
    <section id="header-container">
        <img id="header-logo">
        <section id="header-navbar">
            <ul id="navbar-ul">
                <li class="navbar-li"><i class="fa fa-home tab-head-icon"></i>&nbsp;<a class="navbar-a" ng-href="/[['#']]">Calendar</a></li>
                <li class="navbar-li"><i class="fa fa-user-times tab-head-icon"></i>&nbsp;&nbsp;<a class="navbar-a" ng-href="/[['#']]">Queue</a></li>
                <li class="navbar-li"><i class="fa fa-wrench tab-head-icon"></i>&nbsp;&nbsp;<a class="navbar-a" ng-href="/[['#']]">Admin</a></li>
                <li class="navbar-li"><i class="fa fa-area-chart tab-head-icon"></i>&nbsp;&nbsp;<a class="navbar-a" ng-href="/[['#']]">Dashboard</a></li>
            </ul>
        </section>
    </section>

</header>
<!--header end-->

