<div class="row dashboard-content-row">
    <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
        <div class="row subcontent-row">
            <div class="col-md-12">
                <div class="row chart-title-row">
                    <div class="col-md-2">
                        <h5 class="label-white">KPI Analysis</h5>
                    </div>
                </div>
                <div class="row chart-content-row">
                    <div class="col-md-12">
                        <div id="kpiChart"></div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-1">
                <div class="row">
                    <div class="col-md-12 saved-filter-list">
                        <label class="dashboard-listing-lbl">Listings</label>
                        <ul class="saved-filter-items">
                            <li ng-repeat="month in savedMonths">
                                <a href="#/dashboard/roi" style="font-size: smaller" class="mrkt-month-item"
                                   onclick="changeState(this)" ng-click="getRoiData(month)">[[month]]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row subcontent-row">
            <div class="col-md-12">
                <div class="row chart-title-row">
                    <div class="col-md-2">
                        <h5 class="label-white">Conversion Prediction</h5>
                    </div>
                </div>
                <div class="row scatterchart-content-row">
                    <div class="col-md-12 center-block">
                        <div id="scatter-load"></div>
                    </div>
                    <div class="col-md-12 center-block">
                        <label class="scatter-legend-preEval"><i class="fa fa-square" style="color: #4b90c1"></i> Pre-eval Count</label>&nbsp;&nbsp;&nbsp;
                        <label class="scatter-legend-predict"><i class="fa fa-square" style="color: #f97600"></i> Conversion Count</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<treasure-overlay-spinner active='spinner.active'>
</treasure-overlay-spinner>

<style>
    .axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}

text {
    stroke: none;
    fill: #666666;
    font-size: .8em;
    font-family: "Helvetica Neue"
}

.dot {
    opacity: 1;
    cursor: pointer;
}
</style>