<treasure-overlay-spinner active="spinner.active">
    <div class="row dashboard-content-row">
        <div class="col-md-12 center-block">
            <label class="label-color">All Marketing Channels Spent</label>
        </div>
        <div class="col-md-12">
            <div class="col-md-3" style="padding-left: 0">
                <form class="form-search form-inline">
                    <input type="text" style="padding-left: 26px;" class="form-control" placeholder="Search"
                           ng-model="queryArchive"/>
                </form>
            </div>
        </div>
        <div class="col-md-12 center-block">
            <table class="table waitlist-main-tbl" ng-init="getMarketingChannels()">
                <tr>
                    <th>
                        <a href="#/queue"
                           ng-click="">Channel Name
                        </a>
                    </th>
                    <th>
                        <a href="#/queue"
                           ng-click="">Cost (SGD)
                        </a>
                    </th>
                    <th>
                        <a href="#/queue"
                           ng-click="">Date Purchased
                        </a>
                    </th>
                    <th>Action</th>
                </tr>

                <tr ng-repeat="channel in listOfChannelsSpent | filter:queryArchive"
                    ng-class="getClass(channel.show)">
                    <td>[[channel.name]]</td>
                    <td>[[channel.cost]]</td>
                    <td>[[channel.datePurchased]]</td>
                    <td>
                        <button type="button" class="btn btn-sm form-submit-btn"
                                ng-click="changeMarketingStatus(channel.id, channel.show)"
                                ng-disabled="channel.show">
                            <i class="fa fa-check"></i>
                        </button>
                        <button type="button" class="btn btn-sm form-cancel-btn"
                                ng-click="changeMarketingStatus(channel.id, channel.show)"
                                ng-disabled="!channel.show">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</treasure-overlay-spinner>