<div class="row content-row">
    <div class="jumbotron">
        <div class="col-md-2">
            <div class="row subcontent-row">
                <button type="button" class="btn form-submit-btn"
                        ng-click="openComposeModal('lg')"><i class="fa fa-comments"></i> Send SMS
                </button>
            </div>
            <ul class="mailbox-folders">
                <li class="row mailbox-row">
                    <a href="#/msglog" class="mailbox-folder" ng-click="">Inbox</a>
                </li>
                <li class="row mailbox-row">
                    <a ng-href="" class="mailbox-folder" ng-click="">Sent</a>
                </li>
                <li class="row mailbox-row">
                    <a ng-href="" class="mailbox-folder" ng-click="">Draft</a>
                </li>
                <li class="row mailbox-row">
                    <a ng-href="" class="mailbox-folder" ng-click="">Starred</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <h4 style="color:#49708A;">Inbox</h4>
                </div>
                <div class="col-md-3 col-md-offset-7" style="padding-right: 0;">
                    <form class="form-search form-inline pull-right">
                        <input type="text" style="padding-left: 26px;" class="form-control" placeholder="Search Folder"
                               ng-model="searchText"/>
                    </form>
                </div>
            </div>
            <div class="row subcontent-row">
                <div class="col-md-2">
                    <div class="checkbox">
                        <input type="checkbox" ng-model="allMails" class="mailbox-checkbox">
                        <select class="form-control" data-ng-model=""
                                ng-options="mailcategory in mailcategories">
                            <option value="" disabled selected>Category</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 pull-right" style="padding-top: 5px;padding-right: 0">
                    <div class="btn-group pull-right">
                        <div class="btn btn-sm mailbox-nav-btn"><i class="fa fa-angle-left fa-lg"></i></div>
                        <div class="btn btn-sm mailbox-nav-btn"><i class="fa fa-angle-right fa-lg"></i></div>
                    </div>
                </div>
            </div>
            <div class="row subcontent-row">
                <table class="table table-striped mailbox-tbl">
                    <tbody>
                    <tr ng-repeat="mail in mails">
                        <td style="padding-top: 1px;"><input type="checkbox" ng-model="amail" class="mailbox-checkbox">
                        </td>
                        <td><i class="fa fa-star mail-unstarred"
                               ng-class="star.checked? ' fa fa-star mail-starred' : 'fa fa-star mail-unstarred'"
                               ng-click="star.checked = !star.checked"></i></td>
                        <td>[[mail.name]]</td>
                        <td>[[mail.title]]</td>
                        <td>[[mail.datetime]]</td>
                        <td><a class="remove-from-queue" ng-click=""><i class="fa fa-times"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myComposeModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Send SMS</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <label class="control-label">Contact No.</label>
                <input type="text" class="form-control" data-ng-model="smsContact">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <label class="control-label">Select from existing template</label>
                <select class="form-control" data-ng-model="" ng-options=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <label class="control-label">Compose New Message</label>
                <textarea class="form-control" rows="3" data-ng-model="remarkDetals"></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn form-submit-btn" type="button" ng-click="postRemarks()">Send</button>
        <button class="btn form-cancel-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>