<div>
    <br/>
    <br/>
    <br/>

    <div id="stacked"></div>
    <button ng-click="retrieveCancelledAppointments('Cancelled')">Cancelled Appointments</button>
    <button ng-click="retrieveCancelledAppointments('NoShow')">No Show Appointments</button>
    <button ng-click="retrieveCancelledAppointments('Combined')">Combined Appointments</button>
    <br/>
    <br/>
    <button>Appointment Type</button>
    <button>Reasons</button>
    <button>Marketing Channels</button>
    <div id="pie1"></div>
    <div id="pie2"></div>
    <div id="pie3"></div>
</div>