<div class="row content-row">
    <div class="col-md-2 config-side-col">
        <div class="row subcontent-row">
            <ul class="mailbox-folders">
                <li class="row config-sidemenu-row">
                    <a href="" class="config-sidemenu-item" ng-click=""><i class="fa fa-hospital-o"></i> Clinic</a>
                </li>
                <li class="row config-sidemenu-row active">
                    <a ng-href="" class="config-sidemenu-item" ng-click=""><i class="fa fa-user-md"></i> Doctors</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click=""><i class="fa fa-calendar-o"></i> Calendar</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click=""><i class="fa fa-commenting"></i> SMS</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-sidemenu-item" ng-click=""><i class="fa fa-sticky-note"></i> Appointment Types</a>
                </li>
                <li class="row config-sidemenu-row">
                    <a ng-href="" class="config-saveall-row" ng-click="">Save All Changes</a>
                </li>
            </ul>
        </div>
    </div>




</div>