{% extends "base.html" %}

{% block content %}
    <section class="app-container">
        <div ng-include='"header.html"'></div>
        <section class="app-content">
            <div class="side-container">
                <a href="#" class="pull-right" data-tooltip="New Appointment" onclick="showForm()"
                   data-ng-click="vis = !vis" id="show-form-btn"><i class="fa fa-plus-circle fa-2x pull-right"></i></a>
            </div>
            <!-- CALENDAR COMES IN HERE -->
            <div class="cal-container" id="directives-calendar" data-ng-controller="CalendarCtrl"
                 style="display: inline-block">
                <!--<section>-->
                <div class="well cal-well" style="background: #F4F4F4">
                    <!-- <div class="row-fluid">
                         <div class="span4">
                             <div class="btn-group calTools">
                                 <button class="btn" ng-click="changeLang()">
                                     [[ changeTo ]]
                                 </button>

                                 <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                                     Toggle Source
                                 </button>

                                 <button type="button" class="btn btn-primary" ng-click="addEvent()">
                                     Add Event
                                 </button>
                             </div>

                             <ul class="unstyled">
                                 <li ng-repeat="e in events">
                                     <div class="alert alert-info">
                                         <a class="close" ng-click="remove($index)"><i class="fa fa-trash"></i></a>
                                         <b><input ng-model="e.title"></b>
                                         [[ e.start | date:"MMM dd" ]] - [[ e.end | date:"MMM dd" ]]
                                     </div>
                                 </li>
                             </ul>
                         </div> -->

                    <div>
                        <tabset>
                            <tab select="renderCalendar('drHoCalendar');"
                                 ng-init="getDrHoScreenings(); getDrHoPreEvaluations(); getDrHoSurgeries();">
                                <tab-heading>
                                    <i class="fa fa-calendar tab-head-icon"></i>

                                    <div class="tab-head-text">Doctor Ho</div>
                                </tab-heading>

                                <div class="alert-success calAlert"
                                     ng-show="alertMessage != undefined && alertMessage != '' ">
                                    <h4>[[ alertMessage ]]</h4>
                                </div>

                                <div class="btn-toolbar cal-btn-group">

                                    <div class="btn-group">
                                        <button class="btn btn-success cal-view-btn"
                                                ng-click="changeView('agendaDay', 'myCalendar1')">
                                            Day
                                        </button>
                                        <button class="btn btn-success cal-view-btn"
                                                ng-click="changeView('agendaWeek', 'myCalendar1')">
                                            Week
                                        </button>
                                        <button class="btn btn-success cal-view-btn"
                                                ng-click="changeView('month', 'myCalendar1')">
                                            Month
                                        </button>
                                    </div>
                                </div>
                                <div class="calendar" ng-model="doctorHoAppointments" calendar="myCalendar1"
                                     ui-calendar="uiConfig.calendar" id="drHoCalendar"></div>

                            </tab>

                            <tab select="renderCalendar('drGohCalendar');"
                                 ng-click="getDrGohScreenings(); getDrGohPreEvaluations(); getDrGohSurgeries();">
                                <tab-heading>
                                    <i class="fa fa-calendar tab-head-icon"></i>

                                    <div class="tab-head-text">Doctor Goh</div>
                                </tab-heading>

                                <div class="alert-success calAlert"
                                     ng-show="alertMessage != undefined && alertMessage != '' ">
                                    <h4>[[ alertMessage ]]</h4>
                                </div>

                                <div class="btn-toolbar cal-btn-group">

                                    <div class="btn-group">
                                        <button class="btn btn-success cal-view-btn"
                                                ng-click="changeView('agendaDay', 'myCalendar2')">
                                            Day
                                        </button>
                                        <button class="btn btn-success cal-view-btn"
                                                ng-click="changeView('agendaWeek', 'myCalendar2')">
                                            Week
                                        </button>
                                        <button class="btn btn-success cal-view-btn"
                                                ng-click="changeView('month', 'myCalendar2')">
                                            Month
                                        </button>
                                    </div>
                                </div>

                                <div class="calendar" ng-model="doctorGohAppointments" calendar="myCalendar2"
                                     ui-calendar="uiConfig.calendar" id="drGohCalendar"></div>
                            </tab>

                        </tabset>
                    </div>

                </div>
                <!--</section>-->

            </div>

            <div class="form-container" id="addAppt-form" ng-show="vis"
                 ng-animate="{show: 'menu-show', hide: 'menu-hide'}">
                <div class="form-div pull-left">
                    <div class="form-div-header">
                        <a href="#" onclick="hideForm()" data-ng-click="vis = !vis" id="hide-form-btn"><i
                                class="fa fa-chevron-left fa-lg pull-left"></i></a>
                        <h5 id="form-title" style="font-weight: bold">Create New Appointment</h5>
                    </div>
                    <div class="form-div-body">
                        <form class="form-horizontal">
                            <div class="form-group col-md-12">
                                <label class="control-label">Appointment Type:</label>
                                <select class="form-control" data-ng-model="form-appt-type">
                                    <option>Choose Appt Type</option>
                                    <option>Pre-Evaluation</option>
                                    <option>Screening</option>
                                    <option>Lasik Surgery</option>
                                    <option>Follow-up</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-8 date-div">
                                        <label class="control-label">Date</label>

                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{ format }}"
                                                   data-ng-model="form-appt-date" is-open="opened" min-date="minDate"
                                                   max-date="'2015-06-22'"
                                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                                   ng-required="true" close-text="Close"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-4" date-div>
                                        <label class="control-label">Time</label>
                                        <select class="form-control" data-ng-model="form-appt-time">
                                            <option>09:00</option>
                                            <option>10:00</option>
                                            <option>11:00</option>
                                            <option>12:00</option>
                                            <option>13:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-6 name-div">
                                        <label class="control-label">Patient Name</label>
                                        <input type="text" class="form-control" data-ng-model="form-appt-name">
                                    </div>
                                    <div class="col-md-6 contact-div">
                                        <label class="control-label">Contact No.</label>
                                        <input type="text" class="form-control" data-ng-model="form-appt-contact">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Doctor</label>

                                <div class="row">
                                    <div class="radio col-md-6 doc-div">
                                        <label><input type="radio" data-ng-model="form-appt-doc" value="drho">Dr.
                                            Ho</label>
                                    </div>
                                    <div class="radio col-md-6 doc-div">
                                        <label><input type="radio" data-ng-model="form-appt-doc" value="drgoh">Dr.
                                            Goh</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Marketing Channel</label>
                                <select class="form-control" data-ng-model="form-appt-channle">
                                    <option>Email</option>
                                    <option>Friend</option>
                                    <option>Facebook</option>
                                    <option>Website</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Remarks</label>
                                <textarea class="form-control" rows="3" data-ng-model="form-appt-remark"></textarea>
                            </div>
                            <div class="form-group col-md-12 form-appt-btns">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-2">
                                        <button class="btn btn-primary" data-ng-click="ok($event)">Submit</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-warning" data-ng-click="cancel($event)">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>


        </section>
    </section>
        <script>
        function showForm() {
            var cal = document.getElementById("directives-calendar");
            var form = document.getElementById("addAppt-form");
            var btn = document.getElementById("addAppt-form-btn");
            cal.style.width = "70vw";
            form.style.visibility = "visible";
            form.style.width = "25vw";
            btn.style.width="0"
            btn.style.visibility = "hidden";

        }
        function hideForm() {
            var cal = document.getElementById("directives-calendar");
            var form = document.getElementById("addAppt-form");
            var btn = document.getElementById("addAppt-form-btn");
            form.style.visibility = "hidden"
            cal.style.width = "85vw";
            btn.style.visibility = "visible";

        }
    </script>
{% endblock %}