<!-- row for entire app content-->
<div class="row content-row">
    <div class="col-sm-12">
        <div class="row subcontent-row">
            <div class="col-md-3">
                <form class="form-search form-inline">
                    <input type="text" style="padding-left: 26px;" class="form-control" placeholder="Search"
                           ng-model="queryWaitList"/>
                </form>
            </div>
        </div>
        <div class="row" ng-init="getWaitListAppointments()">
            <div class="col-sm-7" style="padding-right: 0">
                <table class="table table-striped waitlist-main-tbl">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Appt Type</th>
                        <th>Doc</th>
                        <th>Scheduled Time</th>
                    </tr>
                    <tr ng-repeat="appt in listOfWaitingAppointments | filter:queryWaitList">
                        <td>[[$index + 1]]</td>
                        <td>[[appt.patient__name]]</td>
                        <td>[[appt.patient__contact]]</td>
                        <td>[[appt.scheduledAppt__apptType]]</td>
                        <td>[[appt.scheduledAppt__doctor__name]]</td>
                        <td>[[appt.scheduledAppt__timeBucket__date]],
                            [[appt.scheduledAppt__timeBucket__start]]
                        </td>
                        <!--<td>11am, Wed, 15 Aug 2015</td>-->
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <table class="table waitlist-action-tbl">
                    <tr>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="appt in listOfWaitingAppointments | filter:queryWaitList">
                        <td>
                            <button type="button" class="btn btn-default waitlist-action-btn"
                                    ng-click="swapAppointment($index)"
                                    ng-disabled="!appt.swappable"><i class="fa fa-exchange"></i> Swap
                            </button>
                            <button type="button" class="btn btn-default waitlist-action-btn"
                                    ng-click="sendSms($index)"
                                    ng-disabled="!appt.swappable" tooltip="Send SMS"><i class="fa fa-comments-o"></i>
                            </button>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <button type="button" class="btn btn-success waitlist-action-btn" ng-click=""><i
                                    class="fa fa-exchange"></i> Swap
                            </button>
                        </td>
                    </tr>-->
                </table>
            </div>
            <div class="col-sm-2" style="padding-right: 0; padding-left: 0;">
                <table class="table table-striped waitlist-swap-tbl">
                    <tr>
                        <th>Preferred Time</th>
                    </tr>
                    <tr ng-repeat="appt in listOfWaitingAppointments | filter:queryWaitList">
                        <td><i class="fa fa-circle"
                               ng-class="appt.swappable ? 'canSwap' : 'cannotSwap'"></i>
                            [[appt.tempAppt__timeBucket__date]],
                            [[appt.tempAppt__timeBucket__start]]
                            <a class="remove-from-queue"
                               ng-click="deleteWaitList(appt.id)"><i
                                    class="fa fa-times"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>